body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}
body {background-color:#FFF; font: 15px/25px Arial;}

@font-face {
	font-family: SALSA-REGULAR;
	src:url(../font/SALSA-REGULAR.TTF);
}


#menuhide {
	margin: 0px auto; 
	text-align: left;
	height:71px;
	width:100%;
	font-family: Arial;
}

#menuhide ul ul {
	display: none;
	
}

	#menuhide ul li:hover > ul {
		display: block;
		
	}


#menuhide ul {
	/*background: #2F9FDE;*/
	font-family: Arial;
	font-size:19px; 
	line-height:0px; 
	color: #fff;
	padding: 0 0px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
    padding-left:76px;
	-moz-linear-gradient(center top , #000 0%, #BBB 100%) repeat scroll 0% 0% transparent;
	
}
	#menuhide ul:after {
		content: ""; clear: both; display: block;
	}

	#menuhide ul li {
		float: left;
		color:#FFF;
	}
		#menuhide ul li:hover {
			background: #f00;
			background: linear-gradient(top, #70D3F7 0%, #70D3F7 40%);
			background: -moz-linear-gradient(top, #70D3F7 0%, #70D3F7 40%);
			background: -webkit-linear-gradient(top, #70D3F7 0%,#70D3F7 40%);
			height:71PX;
		}
			
		#menuhide ul li a {
			display: block; 
			padding: 35px 20px;
			color: #739FBE; text-decoration: none;
			border-right:solid 1px #B4C5DE;
		}
		
		#menuhide ul li:hover a {
				color: #739FBE;
				
				
			}
		
		
		
			
		
	#menuhide ul ul {
		background: #2F9FDE; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
        width:400px;
	}
		#menuhide ul ul li {
			float: none;
			border-top: 1px solid #6b727c;
			border-bottom: 0px solid #575f6a; position: relative;
			width:400px;
			text-align:left;
            color: #739FBE;
		}
			#menuhide ul ul li a {
				
                width:360px;
                background-image:url(../images/HeaderBGCenter.png);
                background-repeat:repeat-x;
                color:blue;
			}	
				#menuhide ul ul li a:hover {
                    	
					background:none;
                    width:360px;
					
				
				}
		
	#menuhide ul ul ul {
		position: absolute; left: 100%; top:0;
	}
	#menuhide ul ul ul li {
			float: none;
			border-top: 1px solid #6b727c;
			border-bottom: 0px solid #575f6a; position: relative;
			width:100%;
			text-align:left;
		}
		
	#menuhide ul ul ul li a{
		
		padding: 25px 40px;
				color: #739FBE;
				width:380px;
	}	

#menuhide ul ul ul li a:hover {
					background: none;
				
				}