﻿html {
-webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
width: 100%;
height: auto;
}
img{
	max-width:100%;
	   	width: auto\9; /* ie8 */
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
	
}

@media only screen and (max-width: 767px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	header {margin-top: 0px;height:150px;}
	header #logo{top:60px;}

	nav .wrap-nav{top: 10px; left:10px; right:auto;}
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	/*header{height: 210px;}

	header #logo{top: 120px;}

	.social{top:50px; right: 5px;}*/











header{height: 140px;}
	header #logo{top: 30px; padding: 20px 5px 5px 10px;}

   header #logohome {
	position: absolute;
	top: 0px;
    padding: 15px 5px 5px 10px;
	width: 70%;
	height: 150px;
	font-size: 36px;
	color: #739FBE;
	vertical-align: middle;
}

   .nivoSlider {
	position:relative;
	width:100%;
	/*height:310px;*/
    height:auto;
	overflow: hidden;
}


.logotitle{ display:inline-block; padding-top:25px; padding-left:10px; font-size:12px; left:90px; z-index:9999; position:absolute; width: 100%;}
.txtlogodown{ display:inline-block; padding-top:90px; padding-left:140px; color:#666; font-size:10px;}
.txtlogodownhome{ display:inline-block; padding-top:100px; padding-left:140px; font-size:11px; line-height:10px;}


	.social{top:50px; right: 5px;}
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	nav .wrap-nav {position:relative; height: 37px; left:0px; top:0px; width:100%;}
	#menuhide{display:none; width:100%;}
	.minimenu{display:block;}
	
    .phonehome{position: absolute; right: 6px; top: 10px; color:#739FBE; font-size:15px;display:none;}

.animated {float:right;top:50px;left:75%;
}
	.donatehome{position: absolute; right: 6px; top:50px; color:#FFF; background-image:url(../images/DonateBG.png); background-repeat:no-repeat; width:158px; height:35px; text-align:center; padding-top:5px; font-size:19px;}
	
    .searchboxhome{right: 0px; top: 125px;  width: 60%; height:30px; color:#739FBE; position:absolute; }

    /*.logotitle{ display:inline-block; padding-top:25px; padding-left:05px; font-family:Arial; font-weight:bold; color:#1B1464;}*/

    .txtlogodown{ display:inline-block; line-height:10px; padding-top:70px; padding-left:105px; color:#666; font-size:9px;}



	.phone{position: absolute; right: 6px; top: 40px; color:#739FBE; font-size:18px;}
	.donate{position: absolute; right: 0px; top:50px; color:#FFF; background-image:url(../images/DonateBG-home.png); background-repeat:no-repeat; width:158px; height:35px; text-align:center; padding-top:5px; font-size:19px;}

.searchbox{right: 04px; top: 95px; width: 60%; height:25px; color:#739FBE; position:absolute; }

.nivoSlider {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	.home_padding50{
	padding:0px 0px 0px 0px;
}


    /*.block05 .textboxcontact_drpdwn {
        width: 70%;
    }*/

    .block05 .textboxcontact_list {
        width: 100%;
    }

	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}

@media only screen and (max-width: 479px) {

    /*html, body{
	overflow-x: hidden;
}*/

	header{height: 140px;}
	header #logo{top: 30px; padding: 20px 5px 5px 10px;}

   header #logohome {
	position: absolute;
	top: 0px;
    padding: 15px 5px 5px 10px;
	width: 70%;
	height: 150px;
	font-size: 36px;
	color: #739FBE;
	vertical-align: middle;
}

   .nivoSlider {
	position:relative;
	width:100%;
	/*height:310px;*/
    height:auto;
	overflow: hidden;
}


.logotitle{ display:inline-block; padding-top:25px; padding-left:10px; font-size:12px; left:90px; z-index:9999; position:absolute; width: 100%;}
.txtlogodown{ display:inline-block; padding-top:90px; padding-left:140px; color:#666; font-size:10px;}
.txtlogodownhome{ display:inline-block; padding-top:100px; padding-left:140px; font-size:11px; line-height:10px;}


	.social{top:50px; right: 5px;}
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	nav .wrap-nav {position:relative; height: 37px; left:0px; top:0px; width:100%;}
	#menuhide{display:none; width:100%;}
	.minimenu{display:block;}
	
    .phonehome{position: absolute; right: 6px; top: 10px; color:#739FBE; font-size:15px;display:none;}

.animated { display:none;
}
	.donatehome{position: absolute; right: 6px; top:50px; color:#FFF; background-image:url(../images/DonateBG.png); background-repeat:no-repeat; width:158px; height:35px; text-align:center; padding-top:5px; font-size:19px;}
	
    .searchboxhome{right: 0px; top: 125px;  width: 60%; height:30px; color:#739FBE; position:absolute; }

    /*.logotitle{ display:inline-block; padding-top:25px; padding-left:05px; font-family:Arial; font-weight:bold; color:#1B1464;}*/

    .txtlogodown{ display:inline-block; line-height:10px; padding-top:70px; padding-left:105px; color:#666; font-size:9px;}



	.phone{position: absolute; right: 6px; top: 40px; color:#739FBE; font-size:18px;}
	.donate{position: absolute; right: 0px; top:50px; color:#FFF; background-image:url(../images/DonateBG-home.png); background-repeat:no-repeat; width:158px; height:35px; text-align:center; padding-top:5px; font-size:19px;}

.searchbox{right: 04px; top: 95px; width: 60%; height:25px; color:#739FBE; position:absolute; }

.nivoSlider {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	.home_padding50{
	padding:0px 0px 0px 0px;
}


    /*.block05 .textboxcontact_drpdwn {
        width: 70%;
    }*/

    .block05 .textboxcontact_list {
        width: 100%;
    }

	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}

@media only screen and (max-width: 300px){
	header{height: 230px;}
	header #logo{top: 170px;}
}


/**********    IPAD(LANDSCAPE)      ************/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : landscape) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	html, body{
	overflow-x: hidden;
}

    #jqb_object .jqb_slide{
	position:absolute;
	width:100%; height:180px; 
	font-family: Arial, Verdana, Sans-Serif;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: -1px;
	text-align: left;
}

nav .wrap-nav{
	position:absolute; bottom:0px; left:0px;
 	right:20px;
  	height: 51px;  
	width:76%; 
	z-index:10;
	background-image:url(../images/HeaderBGCenter5XX.png); background-repeat:repeat-x;
    left:130px;
    border-radius:10px;
   
}


    .zerogrid .wrap-col{margin:3px; padding-left:10px; padding-right:0px;}

	header #logo{top: 0px; padding: 10px 5px 5px 120px;}

   header #logohome {
	position: absolute;
	top: 0px;
    padding: 15px 5px 5px 10px;
	width: 70%;
	height: 150px;
	font-size: 36px;
	color: #739FBE;
	vertical-align: middle;
}

   .nivoSlider {
	position:relative;
	width:100%;
	/*height:310px;*/
    height:auto;
	overflow: hidden;
}


.logotitle{ display:inline-block; padding-top:25px; padding-left:120px; font-size:12px; left:90px; z-index:9999; position:absolute; width: 100%;}
.txtlogodown{ display:inline-block; padding-top:90px; padding-left:140px; color:#666; font-size:10px;}
.txtlogodownhome{ display:inline-block; padding-top:100px; padding-left:140px; font-size:11px; line-height:10px;}


	.social{top:50px; right: 5px;}
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	.minimenu{display:none;}
	
    .phonehome{position: absolute; right: 6px; top: 10px; color:#739FBE; font-size:15px;}
	.donatehome{position: absolute; right: 6px; top:50px; color:#FFF; background-image:url(../images/DonateBG.png); background-repeat:no-repeat; width:158px; height:35px; text-align:center; padding-top:5px; font-size:19px;}
	
	.searchbox{right: 260px; top: 20px; width: 30%; height:25px; color:#739FBE; position:absolute; }

	
    .searchboxhome{right: 0px; top: 125px;  width: 60%; height:30px; color:#739FBE; position:absolute; }

    /*.logotitle{ display:inline-block; padding-top:25px; padding-left:05px; font-family:Arial; font-weight:bold; color:#1B1464;}*/

    .txtlogodown{ display:inline-block; line-height:10px; padding-top:70px; padding-left:105px; color:#666; font-size:12px;}



	.phone{position: absolute; right: 6px; top: 40px; color:#739FBE; font-size:18px;}
		.donate{position: absolute; right: 80px; top:20px; color:#FFF; background-image:url(../images/Contribute4.png); background-repeat:no-repeat; width:150px; height:35px; text-align:center; padding-top:5px; font-size:18px;}


.nivoSlider {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
	
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	.home_padding50{
	padding:0px 0px 0px 0px;
}


#menuhide {
	margin: 0px auto; 
	text-align: left;
	height:71px;
	width:100%;
	font-family: Arial;
}

#menuhide ul li a {
			display: block; 
			padding: 15px 13px;
			color: #FFF;
             text-decoration: none;
			border-right:solid 1px #B4C5DE;
            font-size:10px;
            font-weight:bold;

		}

/*
nav .wrap-nav{
	position:absolute; bottom:0px; left:0px;
    background-color:#954b98;
 	right:80px;
  	height: 51px;  
	width:84%; 
	z-index:10;
	background-image:url(../images/HeaderBGCenter5XX.png); background-repeat:repeat-x;
    left:120px;
    border-radius:10px;
   
}


#menuhide {
	margin: 0px auto; 
	text-align: left;
	height:71px;
	width:100%;
	font-family: Arial;
}

#menuhide ul li a {
			display: block; 
			padding: 15px 13px;
			color: #FFF;
             text-decoration: none;
			border-right:solid 1px #B4C5DE;
            font-size:16px;
            font-weight:bold;

		}
		

*/


}

/******** END IPAD     *********/




@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	
	html, body{
	overflow-x: hidden;
}
    #jqb_object .jqb_slide{
	position:absolute;
	width:100%; height:180px; 
	font-family: Arial, Verdana, Sans-Serif;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: -1px;
	text-align: left;
}


header .wrap-header{width:100%; }



    .zerogrid .wrap-col{margin:10px; padding-left:0px; padding-right:0px;}
	.zerogrid{ width:95%; position: relative; margin: 0 auto; padding: 0px;}

	nav .wrap-nav{
	position:absolute; bottom:0px; left:0px;
 	right:20px;
  	height: 51px;  
	width:95%; 
	z-index:10;
	background-image:url(../images/HeaderBGCenter5XX.png); background-repeat:repeat-x;
    left:20px;
    border-radius:10px;
   
}


	header #logo{top: 5px; padding: 5px 0px 5px 10px; width:100%;}

   header #logohome {
	position: absolute;
	top: 0px;
    padding: 15px 5px 5px 10px;
	width: 70%;
	height: 150px;
	font-size: 36px;
	color: #739FBE;
	vertical-align: middle;
}

   .nivoSlider {
	position:relative;
	width:100%;
	/*height:310px;*/
    height:auto;
	overflow: hidden;
}


.logotitle{ display:inline-block; padding-top:25px; padding-left:10px; font-size:16px; left:90px; z-index:9999; position:absolute; width: 100%;}
.txtlogodown{ display:inline-block; padding-top:90px; padding-left:140px; color:#666; font-size:10px;}
.txtlogodownhome{ display:inline-block; padding-top:100px; padding-left:140px; font-size:11px; line-height:10px;}


	.social{top:50px; right: 5px;}
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
  .phonehome{position: absolute; right: 6px; top: 10px; color:#739FBE; font-size:15px;}
	.donatehome{position: absolute; right: 6px; top:50px; color:#FFF; background-image:url(../images/DonateBG.png); background-repeat:no-repeat; width:158px; height:35px; text-align:center; padding-top:5px; font-size:19px;}
	
    .searchboxhome{right: 0px; top: 25px;  width: 60%; height:30px; color:#739FBE; position:absolute; }

    /*.logotitle{ display:inline-block; padding-top:25px; padding-left:05px; font-family:Arial; font-weight:bold; color:#1B1464;}*/

    .txtlogodown{ display:inline-block; line-height:10px; padding-top:70px; padding-left:105px; color:#666; font-size:9px;}



	.phone{position: absolute; right: 6px; top: 40px; color:#739FBE; font-size:18px;}
	.donate{position: absolute; right: 0px; top:20px; color:#FFF; background-image:url(../images/Contribute4.png); background-repeat:no-repeat; width:150px; height:35px; text-align:center; padding-top:5px; font-size:17px;}

.searchbox{right: 150px; top: 10px; width: 28%; height:25px; color:#739FBE; position:absolute; }


#menuhide {
	margin: 0px auto; 
	text-align: left;
	height:71px;
	width:100%;
	font-family: Arial;
}

#menuhide ul li a {
			display: block; 
			padding: 15px 13px;
			color: #FFF;
             text-decoration: none;
			border-right:solid 1px #B4C5DE;
            font-size:10px;
            font-weight:bold;

		}
	
}

/******** END IPAD(PORTRAIT)     *********/

