﻿/* Tab Content - menucool.com */

@font-face {
	font-family: SALSA-REGULAR;
	src:url(../font/SALSA-REGULAR.TTF);
}

.body{font-family:Arial;}


ul.tabs
{
	
    padding: 0px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
	font-family:Arial;
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.tabs li a
{
	font: normal 14px Arial;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
   /* border: 1px solid #CCC; */
    border-bottom-color:#B7B7B7;
    color: #666;
    background: #F3F6F8 url(tabbg.gif) 0 0 repeat-x;
    border-radius: 3px 3px 0 0;
    outline:none;
	
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
	font-family:Arial;
    border: 0px solid #B7B7B7;
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
	font-family:Arial;
    position: relative;
    top: 0px;
    font-weight:normal;
    background: #739FBE;
    border: 0px solid #B7B7B7;
    border-bottom-color: white;
	color:white;
	
}
        
        
ul.tabs li.selected a:hover
{
	font-family:Arial;
    text-decoration: none;
}
     

div.tabcontents
{
	font-family:Arial;
    font-size:13px;
    color:#666;
    border: 0px solid #B7B7B7; padding: 15px;
    background-color:#FFF;
    border-radius: 0 3px 5px 5px;
	
}

.doctorbox
{
	width:100%;
	padding:15px;
}
.docdetails
{
	display:inline-block;
	padding:0px 0px 0px 30px;
	font-size:18px;
	color:#739FBE;
}
.docdetailsdesg
{

	font-size:14px;
	color:#666;
	padding-top:6px;
}


.scrollcontent{
width:100%;

float:left;
}

.scrollbar {
    margin: 0 auto;
    padding: 10px 0 40px;
    width:100%;
    overflow-y:scroll;
    height:300px;
    -webkit-box-shadow: 0px -1px 10px 0px rgba(48, 50, 50, 0.32);
-moz-box-shadow:    0px -1px 5px 0px rgba(48, 50, 50, 0.32);
box-shadow:         0px -1px 5px 0px rgba(48, 50, 50, 0.32);

}

#ex3::-webkit-scrollbar{
width:16px;
background-color:none;
} 