body, ul, li {
    font-size:14px;
    font-family:SALSA-REGULAR;
    line-height:21px;
    text-align:left;
}
 
 @font-face {
	font-family: SALSA-REGULAR;
	src:url(../font/SALSA-REGULAR.TTF);
}
/* Navigation Bar */
 
#menuhorz {
    list-style:none;
    width:100%;
    margin:0px;
    height:71px;
    padding:0px 20px 0px 30px;
 
    /* Rounded Corners */
     
   
    /* Background color and gradients */
	background-image:url(../images/HeaderBGCenter.png);
	background-repeat:repeat-x;
 
     
    /* Borders */
     
   
}
 
#menuhorz li {
    float:left;
	vertical-align:middle;
    text-align:center;
    position:relative;
    padding: 4px 5px 4px 5px;
    margin-right:30px;
    margin-top:20px;
    border:none;
}
 
#menuhorz li:hover {
    border: 0px solid #777777;

     
    /* Background color and gradients */
   
    background: #2f96b4;
    background: -moz-linear-gradient(top, ##70D3F7, #EEEEEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(##70D3F7), to(#EEEEEE));
     
    /* Rounded corners */
     
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
 
#menuhorz li a {
    font-family:SALSA-REGULAR;
    font-size:14px;
    color: #739FBE;
    display:block;
    outline:0;
    text-decoration:none;
	/*border-right:solid 1px #B4C5DE;*/
   
}
 
#menuhorz li:hover a {
    color:#FFF;
	
   
}
#menuhorz li .drop {
    padding-right:21px;
    background:url("img/drop.png") no-repeat right 8px;
}
#menuhorz li:hover .drop {
    background:url("img/drop.png") no-repeat right 7px;
}
 
/* Drop Down */
 
.dropdown_1column,
.dropdown_2columns,
.dropdown_3columns,
.dropdown_4columns,
.dropdown_5columns {
    margin:4px auto;
    float:left;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:10px 5px 10px 5px;
    border:0px solid #777777;
    border-top:none;
     
    /* Gradient background */
    background:#70DEF3;
    background: -moz-linear-gradient(top, #70DEF3, #70DEF3);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#70DEF3), to(#BBBBBB));
	
    /* Rounded Corners */
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
 
.dropdown_1column {width: 150px;}
.dropdown_2columns {width: 320px;}
.dropdown_3columns {width: 810px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}
 
#menuhorz li:hover .dropdown_1column,
#menuhorz li:hover .dropdown_2columns,
#menuhorz li:hover .dropdown_3columns,
#menuhorz li:hover .dropdown_4columns,
#menuhorz li:hover .dropdown_5columns {
    left:-1px;
    top:auto;
	color:#000;
}
 
/* Columns */
 
.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:255px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}
 
/* Right alignment */
 
#menuhorz .menuhorz_right {
    float:right;
    margin-right:0px;
}
#menuhorz li .align_right {
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}
#menuhorz li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}
 
/* Drop Down Content Stylings */
 
#menuhorz p, #menuhorz h2, #menuhorz h3, #menuhorz ul li {
    font-family:SALSA-REGULAR;
    line-height:21px;
    font-size:14px;
    text-align:left;
	color:#000;
  
}
#menuhorz h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
#menuhorz h3 {
    font-size:16px;
    margin:7px 0 14px 0;
    padding-bottom:7px;
	color:#666;
  
}
#menuhorz p {
    line-height:18px;
    margin:0 0 10px 0;
}
 
#menuhorz li:hover div a {
    font-size:12px;
    color:#2f96b4;
}
#menuhorz li:hover div a:hover {
    color:#2f96b4;
}
.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}
.imgshadow {
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}
#menuhorz li .black_box {
    background-color:#333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;
 
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
 
    /* Shadow */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}
#menuhorz li ul {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;
}
#menuhorz li ul li {
    font-size:12px;
    line-height:24px;
    position:relative;
    /*text-shadow: 1px 1px 1px #ffffff;*/
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:100%;

}
#menuhorz li ul li:hover {
    background:#000;
    border:none;
    padding:0;
    margin:0;
	width:100%;
}
#menuhorz li .greybox li {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:116px;
 
    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#menuhorz li .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;
}