﻿<%@ Page Title="" Language="C#" MasterPageFile="~/childmaster.Master" AutoEventWireup="true" CodeBehind="BJWHC-pathology.aspx.cs" Inherits="WadiaResponsiveWebsite.child_pathology" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="row block05">
			
			<div class="col-full">
				<div class="wrap-col">
					
                    <div class="heading">
                  <h2>	Pathology </h2></div>
                    
                    <br />

<!-- ABOUT US CONTENT -->

<div style="line-height:20px">
 


<div class="scrollcontent">
<div style="width: 100%; margin: 0 auto; padding: 10px 0 40px;">

    
        <ul class="tabs" data-persist="true">
       <%--    <li><a href="#view1">Areas of Interest</a></li>--%>
            <li><a href="#view2">Overview</a></li>
            
           
                    </ul>

<div class="scrollbar" id="ex3">
        <div class="tabcontents">
         <!---- 1st view end -->
         <%--  <div id="view1">
                
                <p>
  Paediatric Infectious Diseases, Paediatric Hepatology
                                 <br />
              
                </p>
                
            </div>--%>
            
            
             <!---- 1st view end ---->
             
              <!---- 2nd view start ---->
             
            <div id="view2">
         
               
The Pathology department offers round the clock diagnostic services to both BJWHC & NWMH. Our Pathology lab offers a full range of tests and services, using state of the art technology for the most accurate results. All attempts are made to provide reports at the earliest.
 <br />
 <br />

The Pathology Lab is equipped to conduct a variety of tests for the speciality departments at both the hospitals and conducts all routine and specialized tests in. -
<br />
 <br />

·      Haematology
<br />
<br />

·      Biochemistry
<br /><br />

<div style="padding-left:30px">
Besides routine clinical biochemistry, other special tests carried out include Assays for hormones, infectious disease panels etc.
</div>
                <br />
 

·      Microbiology and serology

<br /><br /> 

·      Histopathology and Cytology
<br /><br />

<div style="padding-left:30px">Only centre for Foetal Autopsies in Mumbai

</div><br />
·      Immunology 



            </div>
            
             <!---- 2nd view end ---->
             
              <!---- 3rd view start ---->
              
              
            
       <!-- 3rd view end ---->
       
       <!-- 4th view start --->
       
       
            
            <!---- 4th view end ---->     
            
            
         
               
            
        </div>
    </div>


</div>

</div>










</div>
<!-- ABOUT US CONTENT -->

               
                    
				</div>
			</div>

          

		</div>

</asp:Content>
