﻿<%@ Page Title="" Language="C#" MasterPageFile="~/childmaster.Master" AutoEventWireup="true" CodeBehind="BJWHC-radiology.aspx.cs" Inherits="WadiaResponsiveWebsite.child_radiology" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

     <div class="row block05">
			
			<div class="col-full">
				<div class="wrap-col">
					
                    <div class="heading">
                  <h2>Radiology</h2></div>
                    
                    <br />

<!-- ABOUT US CONTENT -->

<div style="line-height:20px">
 <strong>Overview </strong>
    <br />    <br />

The team aims to provide best possible medical imaging services for children while ensuring minimal irradiation and discomfort. 
        <br /><br />
The department is equipped with state of the art facilities and offers the following services:
	
     <br /><br />
    <div style="padding-left:10px">
-	Routine Ultrasonography and
<br />-	X-Ray facilities including portable USG and x-ray


</div>
    <div style="height:160px"></div>

</div>
<!-- ABOUT US CONTENT -->

               
                    
				</div>
			</div>

            

		</div>

</asp:Content>
