﻿<%@ Page Title="" Language="C#" MasterPageFile="~/childmaster.Master" AutoEventWireup="true" CodeBehind="BJWHC-social-service-department.aspx.cs" Inherits="WadiaResponsiveWebsite.child_socialserv_dept" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

      <div class="row block05">
			
			<div class="col-full">
				<div class="wrap-col">
					
                    <div class="heading">
                  <h2>Social Service Department</h2></div>
                    
                    <br />

<!-- CONTENT -->

<div style="line-height:20px">
    <strong>Overview </strong>
    <br />    <br />

A medical environment can be intimidating and stressful for both, children and their parents Our Social Service Department works towards counselling the patients and their family members and help reduce their stress. We also identify patients who need financial support based on their socio-economic conditions and works towards generating financial aid. The hospital organizes special support group meetings for children suffering from diabetes, children with intersex disorders and growth hormone deficiency. Expert advice and care is offered to patients and their families with regards to financial, emotional, social and psychological problems faced by them.
    <div style="height:130px"></div>



</div>
<!--  CONTENT -->


                
                    
                    
				</div>
			</div>
			


        



		</div>




</asp:Content>
