﻿<%@ Page Title="" Language="C#" MasterPageFile="~/childmaster.Master" AutoEventWireup="true" CodeBehind="BJWHC-paediatric-urology.aspx.cs" Inherits="WadiaResponsiveWebsite.child_paediatric_urology" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


    <div class="row block05">
			
			<div class="col-full">
				<div class="wrap-col">
					
                    <div class="heading">
                  <h2> Paediatric Urology</h2></div>
                    
                    <br />

<!-- ABOUT US CONTENT -->

<div style="line-height:20px">
 


<div class="scrollcontent">
<div style="width: 100%; margin: 0 auto; padding: 10px 0 40px;">

    
        <ul class="tabs" data-persist="true">
       <%--    <li><a href="#view1">Areas of Interest</a></li>--%>
            <li><a href="#view2">Overview</a></li>
            <li><a href="#view3">Treatments</a></li>
           
           
                    </ul>

<div class="scrollbar" id="ex3">
        <div class="tabcontents">
         <!---- 1st view end -->
         <%--  <div id="view1">
                
                <p>
  Paediatric Infectious Diseases, Paediatric Hepatology
                                 <br />
              
                </p>
                
            </div>--%>
            
            
             <!---- 1st view end ---->
             
              <!---- 2nd view start ---->
             
            <div id="view2">
         
The Paediatric urology is a surgical subspecialty of medicine dealing with the disorders of children's genitourinary systems. 
                Paediatric urologists provide care for problems arising from structural defects in the urinary system.
 <br />
 <br />

                  
            </div>
            
             <!---- 2nd view end ---->
             
              <!---- 3rd view start ---->
              
              
            <div id="view3">
               

The department offers treatment and management of the following conditions :
                                <br /><br />
                <div style="padding-left:10px">

-	Bladder control problems such as bedwetting and daytime urinary incontinence
<br />-	Undescended testes (cryptorchidism)
<br />-	Hypospadias
<br />-	Epispadias
<br />-	Urolithiasis (bladder and kidney stones)
<br />-	Chordee and other minor malformations of the penis
<br />-	Phimosis
<br />-	Urinary obstruction and vesicoureteral reflux
<br />-	Neurogenic bladder (e.g., associated with spina bifida)
<br />-	Antenatal hydronephrosis
<br />-	Tumours and cancers of the kidneys
<br />-	Repair of genitourinary trauma
<br />-	Genitourinary malformations and birth defects

</div>


               
            </div>
       <!-- 3rd view end ---->
       
       <!-- 4th view start --->
       
       
            
            <!---- 4th view end ---->     
            
            
         
               
            
        </div>
    </div>


</div>

</div>










</div>
<!-- ABOUT US CONTENT -->

               
                    
				</div>
			</div>

          




		</div>




</asp:Content>
