﻿<%@ Page Title="" Language="C#" MasterPageFile="~/childmaster.Master" AutoEventWireup="true" CodeBehind="BJWHC-Education-Nursing-overview.aspx.cs" Inherits="WadiaResponsiveWebsite.child_nursing_overview" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


 <div class="row block05">
			
			<div class="col-2-3">
				<div class="wrap-col">
					
                     <div class="heading">
                  <h2>NURSING </h2></div>
                    
                    <br />

<!-- ABOUT US CONTENT -->


<div style="line-height:20px">

    
 
The Department of Nursing at the Bai Jerbai Wadia Hospital for Children works on the principles of care, empathy and safety. To us, our patients come first and through a collaborative, multidisciplinary approach, we aim to provide the highest quality of holistic care to patients from diverse backgrounds. We understand that undergoing treatment at such a tender age can be traumatic for children and we do everything in our capacity to make the environment as warm and comfortable as we can for them. In addition, our services extend to not only educating our patients and their families, but also carry out professional training for students of nursing. 
<br /><br />
    
   <b> The professional nursing practice at Bai Jerbai Wadia Hospital for Children ensures that:</b>

    <br />
    <br />
    <div style="padding-left:30px">
•	The nurse assesses the patient and family for specific care needs to meet optimal outcomes.
<br />•	The nurse identifies the amount, degree and level of nursing care needed to achieve those outcomes and manages the nursing resources to meet those needs.
<br />•	The nurse recognizes the contributions of other disciplines as an integral part of patient care delivery.
<br />•	The nurse provides every patient and family with complete and understandable information about care and aftercare through individual contracts, group programs and multimedia materials.

    </div><br />



</div>

<!-- ABOUT US CONTENT -->


                
                    
                    
				</div>
			</div>
			


        <div class="col-1-3">
				<div class="wrap-col">
					
					<div class="box">
						<div class="heading"><h2>Nursing</h2></div>
						<div class="content">
							<div class="list">
								<ul>

                                   
						  <li><a href="BJWHC-Education-Medical-overview.aspx">	Overview  </a></li>
                         <li><a href="BJWHC-Education-Medical-directors-message.aspx"> Directors message </a></li>
                         <li><a href="BJWHC-Education-Nursing-Courses.aspx"> 	Courses available</a></li>
                         <li><a href="BJWHC-contact-us.aspx">	Contact Us  </a></li>


                                     <%--   <div class="leftpadsubmenu">
                                           <img style="padding-top:5px" src="images/submenu.jpg" /> <a href="child-jerbai-wadia.aspx">Bai Jerbai Wadia (1852 – 1926)</a><br />
                                           <img style="padding-top:5px" src="images/submenu.jpg" /> <a href="child-cursetjee-wadia.aspx">Sir Cursetjee Wadia (1869 – 1950)</a> <br />
                                           <img style="padding-top:5px" src="images/submenu.jpg" /> <a href="child-ness-wadia.aspx">Sir Ness Wadia (1873 – 1952)</a>

                                        </div>--%>

									
								</ul>
							</div>
						</div>
					</div>
					<%--<div class="box">
						<div class="heading"><h2>Archive</h2></div>
						<div class="content">
							<div class="list">
								<ul>
									<li><a href="#">April 2013</a></li>
									<li><a href="#">March 2013</a></li>
									<li><a href="#">February 2013</a></li>
									<li><a href="#">January 2013</a></li>
								</ul>
							</div>
						</div>
					</div>--%>
				</div>
			</div>



		</div>






</asp:Content>
