﻿<%@ Page Title="" Language="C#" MasterPageFile="~/childmaster.Master" AutoEventWireup="true" CodeBehind="BJWHC-blood-bank.aspx.cs" Inherits="WadiaResponsiveWebsite.child_blood_bank" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

 <div class="row block05">
			
			<div class="col-full">
				<div class="wrap-col">
					
                    <div class="heading">
                  <h2>Blood bank</h2></div>
                    
                    <br />

<!-- ABOUT US CONTENT -->

<div style="line-height:20px">
<strong>Overview </strong>
    <br />    <br />

The Hospital has an attached blood bank functioning since 1991. The bank collects, prepares and stores whole blood and blood products such as packed cells 
    and fresh frozen plasma and provides support to patients attached to NWMH as well as the BJWHC. The Blood bank also provides free blood & blood products 
    fortnightly to 250 thalassemia patients.



<br />
<br />



</div>
<!-- ABOUT US CONTENT -->


                
                    
                    
				</div>
			</div>
			


        



		</div>



</asp:Content>
