﻿<%@ Page Title="" Language="C#" MasterPageFile="~/childmaster.Master" AutoEventWireup="true" CodeBehind="BJWHC-Privacy-policy.aspx.cs" Inherits="WadiaResponsiveWebsite.bjwhc_privacy" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


    <div class="row block05">
			
			<div class="col-full">
				<div class="wrap-col">
					
                    <div class="heading">
                  <h2>   Privacy Policy</h2></div>
                    
                    <br />

<!-- ABOUT US CONTENT -->

<div style="line-height:20px;">
    
   
  


This Privacy Policy governs the manner in which Bai Jerbai Wadia Hospital for Children collects, uses, maintains and discloses information collected from users (each, a "User") of the <a href="http://wadiahospitals.org/BJWHC.aspx">www.wadiahospitals.org/bjwhc</a> website ("Site"). This privacy policy applies to the Site and all products and services offered by Bai Jerbai Wadia Hospital for Children.
<br /><br />


<strong>Personal identification information</strong>

<br /><br />

We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, subscribe to the newsletter, fill out a form, and in connection with other activities, services, features or resources we make available on our Site.. Users may visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.

    <br /><br />

<strong>Non-personal identification information</strong>

    <br /><br />

We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
    <br /><br />

        
<strong>Web browser cookies</strong>

<br /><br />


Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.
<br /><br />

<strong>How we use collected information</strong>

<br /><br />

Bai Jerbai Wadia Hospital for Children may collect and use Users personal information for the following purposes:

    <br /><br />

    <div style="padding-left:40px">

•	<i>- To improve customer service</i><br />

Information you provide helps us respond to your customer service requests and support needs more efficiently.
        <br /><br />

•	<i>- To improve our Site</i><br />

We may use feedback you provide to improve our products and services.
        <br /><br />

•	<i>- To send periodic emails</i><br />
We may use the email address to respond to their inquiries, questions, and/or other requests. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.
        <br /><br />

        </div>

<strong>How we protect your information</strong>

    <br /><br />
    



We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.
<br /><br />
Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.
<br /><br />

<strong>Sharing your personal information</strong>
    <br /><br />


We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above. We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.
    <br /><br />

<strong>Third party websites</strong>
    <br /><br />

Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website's own terms and policies.
<br /><br />


<strong>Changes to this privacy policy</strong>

    <br /><br />



Bai Jerbai Wadia Hospital has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
    <br /><br />


<strong>Your acceptance of these terms</strong>
    <br /><br />
By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.
    <br /><br />


<strong>
    Contacting us</strong>


    <br />
    <br />

If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:<br /><br />


Bai Jerbai Wadia Hospital and Institute of Child Health, <br />
Acharya Donde Marg, <br />
Lower Parel, <br />
Mumbai, <br />
Maharashtra,<br />
India.<br /><br />

T: +91 - 22 - 24146964<br /><br />

E: info@wadiahospitals.org
    <br /><br />
This document was last updated on Wednesday 20th August, 2014


  





</div>

</div>




<%--    SUPPORTIVE END--%>












</div>







</div>
</asp:Content>
