﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="childmaster2.master.cs" Inherits="WadiaResponsiveWebsite.childmaster2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">



   

<head runat="server">
   <title>Wadia Hospital</title>
	<meta name="description" content="Free Html5 Templates and Free Responsive Themes Designed by Kimmy | zerotheme.com">
	<meta name="author" content="www.zerotheme.com">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="css/zerogrid.css">
	<link rel="stylesheet" href="css/style2.css">
        <link href="css/stylemenu.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/responsiveslides.css" />
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	
	<link href='./images/favicon.ico' rel='icon' type='image/x-icon'/>
    <script src="js/jquery.min.js"></script>
	<script src="js/responsiveslides.js"></script>
	<script>
	    $(function () {
	        $("#slider").responsiveSlides({
	            auto: true,
	            pager: false,
	            nav: true,
	            speed: 500,
	            maxwidth: 962,
	            namespace: "centered-btns"
	        });
	    });
	</script>
    
    
   <%--MENUHIDE SCRIPT --%>

    <script type="text/javascript">
<!--
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }
    //-->
</script> 
    
<link rel="stylesheet" href="css/menu-hor1.css" type="text/css" media="screen" />

    
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="css/zerogrid.css" rel="stylesheet" />
<%--    <link href="css/style.css" rel="stylesheet" />--%>
    <link href="css/stylemenu.css" rel="stylesheet" />
    <link href="css/responsiveslides.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="themes/light/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="themes/dark/dark.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="themes/bar/bar.css" type="text/css" media="screen" />

    <link href="themes/nivo-slider.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="themes/style.css" rel="stylesheet" type="text/css" media="screen" />
  
        <%--<meta name="viewport" content="width=device-width, initial-scale=1" />--%>
    

    <%--ABOUT US DOCTORS--%>

    
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script type="text/javascript" src="ddaccordion.js"></script>



      <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="js/nhpup_1.1.js"></script>
    <script type="text/javascript">

        //Initialize first demo:
        ddaccordion.init({
            headerclass: "mypets", //Shared CSS class name of headers group
            contentclass: "thepet", //Shared CSS class name of contents group
            revealtype: "mouseover", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
            mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
            collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
            defaultexpanded: [0], //index of content(s) open by default [index1, index2, etc]. [] denotes no content.
            onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
            animatedefault: false, //Should contents open by default be animated into view?
            scrolltoheader: false, //scroll to header each time after it's been expanded by the user?
            persiststate: true, //persist state of opened contents within browser session?
            toggleclass: ["", "openpet"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
            togglehtml: ["none", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
            animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
            oninit: function (expandedindices) { //custom code to run when headers have initalized
                //do nothing
            },
            onopenclose: function (header, index, state, isuseractivated) { //custom code to run whenever a header is opened or closed
                //do nothing
            }
        })

        //Initialize 2nd demo:
        ddaccordion.init({
            headerclass: "technology", //Shared CSS class name of headers group
            contentclass: "thelanguage", //Shared CSS class name of contents group
            revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
            mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
            collapseprev: false, //Collapse previous content (so only one open at any time)? true/false 
            defaultexpanded: [], //index of content(s) open by default [index1, index2, etc]. [] denotes no content.
            onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
            animatedefault: false, //Should contents open by default be animated into view?
            scrolltoheader: false, //scroll to header each time after it's been expanded by the user?
            persiststate: false, //persist state of opened contents within browser session?
            toggleclass: ["closedlanguage", "openlanguage"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
            togglehtml: ["prefix", "<img src='http://i13.tinypic.com/80mxwlz.gif' style='width:13px; height:13px' /> ", "<img src='http://i18.tinypic.com/6tpc4td.gif' style='width:13px; height:13px' /> "], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
            animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
            oninit: function (expandedindices) { //custom code to run when headers have initalized
                //do nothing
            },
            onopenclose: function (header, index, state, isuseractivated) { //custom code to run whenever a header is opened or closed
                //do nothing
            }
        })

</script>
    
    

    <%--ABOUTS US DOCTORS END--%>

     
<%--DOCTOR DETAILS--%>

         <script src="js/tabcontent.js" type="text/javascript"></script>
    <link href="css/tabcontent.css" rel="stylesheet" type="text/css" /> 
             
<%-- DOCTOR DETAILS--%>      
  
<!-------------- ======Header======= --------------->


    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
    <form id="form1" runat="server">
  


<header>

           

            <div class="wrap-header zerogrid">
                <div id="logo">
                    <a href="index-child.aspx">
                        <img src="images/Logo.png" width="80px" height="81px"/> <div class="logotitle"><img src="images/Title.png" style="border:0px" /></div></a>
                </div>



                

               <%-- <div class="phone">

                    <img src="images/CallUs.png" />&nbsp; +91 - 22 - 24146964

                </div>--%>
				
                
        <a href="child-donate.aspx"><div class="donate">

              
                    
                </div></a>

<div class="searchbox">

<script>
    (function () {
        var cx = '012323957223606191914:j_8d4qikmyg';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
<gcse:search></gcse:search>

</div>



 
               <div style="width:100%; background-color:#ff6a00;">
                
                <nav>
                
            
                
                
                    <div class="wrap-nav" >

                   

  <ul id="menuhorz">
     
    <li><a href="index-child.aspx" class="drop">Home</a><!-- Begin Home Item --> </li><!-- End Home Item -->
    
    
    
    
     <li><a href="#" class="drop">About us</a><!-- Begin 4 columns Item -->
     
        <div class="dropdown_5columns"><!-- Begin 4 columns container -->
         
          
            <div class="col_1">
             
               
                <ul>
                    <li><a href="child-about-overview.aspx"><h3>Overview</h3></a></li>
                   
                </ul>  
                   
            </div>
     
            <div class="col_1">
             
               
                <ul>
                    <li><a href="child-about-vision.aspx"><h3>Mission, Vision, Core Value</h3></a></li>
                   
                </ul>  
                  
            </div>
     
            <div class="col_1">
             
              
                <ul>
                    <li><a href="child-about-chairman-msg.aspx"><h3>Chairman's message</h3></a></li>
                   
                </ul>  
                  
            </div>
     
            <div class="col_1">
             
                
                <ul>
                    <li><a href="child-about-awards.aspx"><h3>Awards and Achievements</h3></a></li>
                   
                </ul>  
                  
            </div>
            
             <div class="col_1">
             
               
                <ul>
                    <li><a href="#" onclick="toggle_visibility('foo');"><h3>History </h3></a></li>
                    <div id="foo" style="display:none">
                    <li><a href="child-jerbai-wadia.aspx">Bai Jerbai Wadia (1852 – 1926)</a></li>
                    <li><a href="child-cursetjee-wadia.aspx">Sir Cursetjee Wadia (1869 – 1950) </a></li>
                    <li><a href="child-ness-wadia.aspx">Sir Ness Wadia (1873 – 1952)</a></li>
                    </div>
                </ul>  
                  
            </div>
            
            
             
        </div><!-- End 4 columns container -->
     
    </li><!-- End 4 columns Item -->
    
    
    
 
    <li><a href="#" class="drop">Services</a><!-- Begin 5 columns Item -->
     
        <div class="dropdown_3columns"><!-- Begin 5 columns container -->
         
            
             
            <div class="col_2">
            
            
             <ul>
                    <li><a href="child-speciality-services.aspx"><h3>Specialty Services</h3></a></li>

                                   
                    <%-- <li><a href="child-paediatric-medicine.aspx">>	Paediatric Medicine  </a></li>
                    <li><a href="child-paediatric-surgery.aspx">> 	Paediatric Surgery </a></li>
                    <li><a href="child-emergency-department.aspx">> 	Emergency Department</a></li>
                  <li><a href="child-nicu.aspx">> 	NICU  </a></li>
                    <li><a href="child-picu.aspx">> 	The Paediatric Intensive Care Unit (PICU)</a></li>
                  <li><a href="child-immunization-clinic.aspx">>     Immunization clinic  </a></li>--%>
                                  
                    
                </ul>  
            
            
            </div>
             
            <div class="col_2">

			  <ul>
                    <li><a href="child-super-speciality-services.aspx"><h3>Super speciality services</h3></a></li>
                    
                      <%--<li><a href="child-highrisk-opd.aspx">>	High risk OPD </a></li>

                    <li><a href="child-paediatric-anaesthesia.aspx">>	Paediatric Anaesthesia </a></li>

                    <li><a href="child-paediatric-burns.aspx">>	Paediatric Burns and Plastic surgery </a></li>

                    <li><a href="child-paediatric-dermatology.aspx">>	Paediatric Dermatology </a></li>

                    <li><a href="child-paediatric-cardiology.aspx">>	Paediatric Cardiology  </a></li>

                    <li><a href="child-paediatric-dentistry.aspx">>	Paediatric Dentistry </a></li>

                    <li><a href="child-paediatric-endocrinology.aspx">>	Paediatric Endocrinology </a></li>

                    <li><a href="child-paediatric-ent.aspx">>	Paediatric ENT </a></li>

                    <li><a href="child-paediatric-haemato.aspx">>	    Paediatric Haemato-Oncology</a></li>

                    <li><a href="child-paediatric-hepato.aspx">>	Paediatric Hepato-biliary clinic </a></li>


                    <li><a href="child-paediatric-perinatalhiv.aspx">>	    Paediatric and Perinatal HIV clinic </a></li>

                    <li><a href="child-paediatric-nephrology.aspx">> Paediatric Nephrology </a></li>

                    <li><a href="child-paediatric-neurology.aspx">>	Paediatric Neurology </a></li>


                    <li><a href="child-paediatric-neurosurgery.aspx">>	Paediatric Neurosurgery </a></li>

                    <li><a href="child-paediatric-ophthalmology.aspx">>	Paediatric Ophthalmology </a></li>

                    <li><a href="child-paediatric-orthopaedics.aspx">>	Paediatric Orthopaedics </a></li>


                    <li><a href="child-paediatric-tuberculosis.aspx">>	Paediatric Tuberculosis Clinic </a></li>

                    <li><a href="child-paediatric-urology.aspx">>	Paediatric Urology </a></li>

                    <li><a href="child-wellbaby-clinic.aspx">>	Well Baby Clinic </a></li>--%>


                   
                </ul>  


            </div>
             
            <div class="col_2">
               
                 <ul>
                    <li><a href="child-supportive-services.aspx"><h3>Supportive Services<h3></a></li>
                    
                   <%-- <li><a href="child-audiology-speech.aspx">>	Audiology & Speech therapy  </a></li>

                      <li><a href="child-blood-bank.aspx">>	Blood bank </a></li>

                      <li><a href="child-nutrition.aspx">>	Nutrition  </a></li>

                      <li><a href="child-occupational-therapy.aspx">>   Occupational therapy </a></li>

                      <li><a href="child-pathology.aspx">>	Pathology  </a></li>

                      <li><a href="child-physiotherapy.aspx">>	Physiotherapy   </a></li>

                      <li><a href="child-radiology.aspx">>	Radiology  </a></li>

                      <li><a href="child-socialserv-dept.aspx">>	Social Service Department   </a></li>--%>

                   
                    
                    
                </ul>  
               
               
               
            </div>
             
           
         
        </div><!-- End 5 columns container -->
     
    </li><!-- End 5 columns Item -->
 
   
   
    <li><a href="about-us-doctors.aspx" class="drop">Doctors</a></li>
    
    <li><a href="#" class="drop">Education</a></li>
    
    <li><a href="child-contact-us.aspx" class="drop">Contact Us</a></li>
    
    
 
    <!-- <li class="menu_right"><a href="#" class="drop">1 Column</a>
     
        <div class="dropdown_1column align_right">
         
                <div class="col_1">
                 
                    <ul class="simple">
                        <li><a href="#">FreelanceSwitch</a></li>
                        <li><a href="#">Creattica</a></li>
                        <li><a href="#">WorkAwesome</a></li>
                        <li><a href="#">Mac Apps</a></li>
                        <li><a href="#">Web Apps</a></li>
                        <li><a href="#">NetTuts</a></li>
                        <li><a href="#">VectorTuts</a></li>
                        <li><a href="#">PsdTuts</a></li>
                        <li><a href="#">PhotoTuts</a></li>
                        <li><a href="#">ActiveTuts</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Logo</a></li>
                        <li><a href="#">Flash</a></li>
                        <li><a href="#">Illustration</a></li>
                        <li><a href="#">More...</a></li>
                    </ul>  
                      
                </div>
                 
        </div>
         
    </li> -->
 
   
 
</ul>                      
                        
<%-- <div style="height:2px; width:98%; padding-right:5px; background-color:#FFF;"></div>--%>
                                                
<%-----------End header-----------%>





                        <div class="minimenu">
                            <div>MENU</div>
                            <select onChange="location=this.value">
                                <option></option>
                                <option value="index.aspx">Home</option>
                                <option value="">About Trainer</option>


                                <option value="about-us.aspx">---Priyank Ranka</option>
                                <option value="about-usmonty.aspx">---Monty Dudani </option>
                                <option value="about-usnishith.aspx">---Nishith Singh</option>





                                <option value="#">Services</option>


                                <option value="freeolconsultancy.aspx">---Free Online Consultancy</option>
                                <option value="buildingmobcap.aspx">---Building Mobile Capability</option>
                                <option value="vendormobsel.aspx">---Vendor Selection Process</option>
                                <option value="processmobdev.aspx">---Processed Mobile Developers(Internship Programs)</option>
                                <option value="fastprototypebuld.aspx">---Fast Prototype Building</option>

                                <option value="#">Syllabus</option>
                                <option value="#">--iOS</option>
                                <option value="Ios-cocoa-course.aspx">------COCOA Design Patterns & Architect Course</option>
                                <option value="Ios-crash-course.aspx">------iOS Crash Course</option>
                                <option value="Ios-developer.aspx">------iOS Developer Course</option>
                                <option value="Ios-pro-developer.aspx">------iOS Pro Developer Course </option>
                                <option value="Ios-gaming.aspx">------iOS Gaming Course</option>
                                <option value="Ios-non-programmer.aspx">------iOS Non-Programmer Course</option>
                                <option value="5days.aspx">------iOs Corporate Programmes</option>


                                <option value="#">--Android</option>

                                <option value="android-crash-course.aspx">------Android Crash Course</option>
                            <option value="android-developer-course.aspx">------Android Developer Course</option>
                            <option value="android-non-programmer-course.aspx">------Android Non Programmer </option>
                           <option value="android-workshop.aspx">------Android Workshop</option>

                                <option value="#">--Big Data Analysis</option>


                                 <option value="hdoop-admin.aspx">------Hdoop Adminstrator</option>
                            <option value="bigdata-hdoop.aspx">------Big Data and Hadoop Developer</option>

                                <option value="#">--Digital / Online Marketing</option>

                                 <option value="syllabus-seo.aspx">------Search Engine Optimization (SEO) </option>
                             <option value="syllabus-linkedin.aspx">------Linkedin for Entreprenuers</option>


                               
                                <option value="course.aspx">Free Downloads</option>
                                <option value="all-testimonials.aspx">Testimonial</option>
                                <option value="corporate.aspx">Corporate</option>
                                <option value="contact-us.aspx">Contact Us</option>


                            </select>
                        </div>
                    </div>
                </nav>
                
                
                
                </div>
                
                
            </div>

    </header>


        
<!---------- ====== END HEADER ====== ------------>


 

<section id="content">
	<div class="wrap-content zerogrid">

        

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        

        </asp:ContentPlaceHolder>








        <!-- =========== Footer ========== -->

<footer>


<div style="border-top:#808080 2px solid"></div><br>

            <div class="copyright">
              <div style="display: inline-block; text-align: left; padding-left: 0px; padding-right: 20px;"><a href="index-child.aspx">Home</a> | <a href="child-careers.aspx">Careers</a>  | <a href="child-press-media.aspx">Press & Media</a> | <a href="child-tenders.aspx">Tenders</a> | <a href="#">Blog</a> | <a href="#">Nursing Cources</a> | <a href="#">Medical Cources</a> | <a href="child-contact-us.aspx">Contact Us</a>  
                         
              </div>
                
                <div  style="display:inline-block; float:right;"> 
                
                <div class="social">
                    <ul>
                        <li><a href="https://www.facebook.com/BJWHC
" target="_blank">
                            <img src="../images/Iconfacebook.png" /></a></li>
                        <li><a href="https://twitter.com/wadiahospitals
" target="_blank">
                            <img src="../images/Icontwitter.png" /></a></li>
                        <li><a href="https://www.youtube.com/channel/UCA0xW7LQkAezQGucagdC1OQ
" target="_blank">
                            <img src="./images/Iconyoutube.png" /></a></li>
                        <li><a href="https://www.linkedin.com/company/bjwhc
" target="_blank">
                            <img src="../images/Iconlinkedin.png" /></a></li>
                    </ul>
                </div>
                
<br />

                 </div>
                       </div>
        </footer>
        
<!-- =========== Footer End  ============ -->
        


</div>
</section>


    </form>
</body>

















</html>