﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="childmaster.master.cs" Inherits="WadiaResponsiveWebsite.childmaster" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   <title>Wadia Hospital</title>
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="css/zerogrid.css">
	<link rel="stylesheet" href="css/style.css">
        <link href="css/stylemenu.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/responsiveslides.css" />
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	
	<link href='./images/favicon.ico' rel='icon' type='image/x-icon'/>
    <script src="js/jquery.min.js"></script>
	<script src="js/responsiveslides.js"></script>
	<script>
	    $(function () {
	        $("#slider").responsiveSlides({
	            auto: true,
	            pager: false,
	            nav: true,
	            speed: 500,
	            maxwidth: 962,
	            namespace: "centered-btns"
	        });
	    });
	</script>
    
    
   <%--MENUHIDE SCRIPT --%>




    <script type="text/javascript">
<!--
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }
    //-->
</script> 

    
<link rel="stylesheet" href="css/menu-hor1.css" type="text/css" media="screen" />

    
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="css/zerogrid.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/stylemenu.css" rel="stylesheet" />
    <link href="css/responsiveslides.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="themes/light/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="themes/dark/dark.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="themes/bar/bar.css" type="text/css" media="screen" />

    <link href="themes/nivo-slider.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="themes/style.css" rel="stylesheet" type="text/css" media="screen" />
  
        <%--<meta name="viewport" content="width=device-width, initial-scale=1" />--%>
    

    <%--ABOUT US DOCTORS--%>

    
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script type="text/javascript" src="ddaccordion.js"></script>



      <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="js/nhpup_1.1.js"></script>
    <script type="text/javascript">

        //Initialize first demo:
        ddaccordion.init({
            headerclass: "mypets", //Shared CSS class name of headers group
            contentclass: "thepet", //Shared CSS class name of contents group
            revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
            mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
            collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
            defaultexpanded: [0], //index of content(s) open by default [index1, index2, etc]. [] denotes no content.
            onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
            animatedefault: false, //Should contents open by default be animated into view?
            scrolltoheader: false, //scroll to header each time after it's been expanded by the user?
            persiststate: true, //persist state of opened contents within browser session?
            toggleclass: ["", "openpet"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
            togglehtml: ["none", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
            animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
            oninit: function (expandedindices) { //custom code to run when headers have initalized
                //do nothing
            },
            onopenclose: function (header, index, state, isuseractivated) { //custom code to run whenever a header is opened or closed
                //do nothing
            }
        })

        //Initialize 2nd demo:
        ddaccordion.init({
            headerclass: "technology", //Shared CSS class name of headers group
            contentclass: "thelanguage", //Shared CSS class name of contents group
            revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
            mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
            collapseprev: false, //Collapse previous content (so only one open at any time)? true/false 
            defaultexpanded: [], //index of content(s) open by default [index1, index2, etc]. [] denotes no content.
            onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
            animatedefault: false, //Should contents open by default be animated into view?
            scrolltoheader: false, //scroll to header each time after it's been expanded by the user?
            persiststate: false, //persist state of opened contents within browser session?
            toggleclass: ["closedlanguage", "openlanguage"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
            togglehtml: ["prefix", "<img src='http://i13.tinypic.com/80mxwlz.gif' style='width:13px; height:13px' /> ", "<img src='http://i18.tinypic.com/6tpc4td.gif' style='width:13px; height:13px' /> "], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
            animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
            oninit: function (expandedindices) { //custom code to run when headers have initalized
                //do nothing
            },
            onopenclose: function (header, index, state, isuseractivated) { //custom code to run whenever a header is opened or closed
                //do nothing
            }
        })

</script>
    
    

    <%--ABOUTS US DOCTORS END--%>

     
<%--DOCTOR DETAILS--%>

    <script src="js/tabcontent.js" type="text/javascript"></script>
    <link href="css/tabcontent.css" rel="stylesheet" type="text/css" /> 
             
<%-- DOCTOR DETAILS--%>     
    
    
     <%--   Gallery CSS/JS--%>

    <link rel="stylesheet" type="text/css" href="css-gallery/style.css" />
    <script src="js/modernizr.custom.70736.js"></script>
    <noscript><link rel="stylesheet" type="text/css" href="css-gallery/noJS.css"/></noscript>

    <%--     End Gallery CSS/JS--%> 

<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  
<!-------------- ======Header======= --------------->

    
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
    <form id="form1" runat="server">
  


<header>

           

            <div class="wrap-header zerogrid">
                <div id="logo">
                    <a href="index-child.aspx">
                        <img src="images/Logo.png" width="80px" height="81px"/> <div class="logotitle">
                            
                            Bai Jerbai Wadia Hospital for Children
                            <%--<img src="images/Title.png" style="border:0px" />--%></div></a>
                </div>



               <%-- <div class="phone">

                    <img src="images/CallUs.png" />&nbsp; +91 - 22 - 24146964

                </div>--%>
				
                
        <a href="child-donate.aspx"><div class="donate">

              
                    
                </div></a>

<div class="searchbox">

<script>
    (function () {
        var cx = '012323957223606191914:j_8d4qikmyg';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
<gcse:search></gcse:search>

</div>



 
               <div style="width:100%; background-color:#333333;">
                
                <nav>
                    <div class="wrap-nav" >

                   <div id="menuhide">
	<ul>
	     <li style="background-color:#954B98"><a href="index-child.aspx">Home</a></li>
        <li style="background-color:#E83335"><a href="child-about-overview.aspx">About Us</a>

                <ul>
            		  <li><a <%--style="background-color:#f04e93"--%> href="child-about-overview.aspx">Overview</a></li>
                      <li><a <%--style="background-color:#f04e93"--%> href="child-about-vision.aspx">Mission, Vision, Core Value</a></li>
                      <li><a <%--style="background-color:#f04e93"--%> href="child-about-chairman-msg.aspx">Chairman's message</a></li>
                     <%-- <li><a href="child-about-awards.aspx">Awards and Achievements</a></li>--%>
                      <li><a <%--style="background-color:#f04e93"--%> href="child-about-history.aspx">History</a></li>

			   </ul>
		</li>
        
         <li style="background-color:#F68B24"><a href="child-speciality-services.aspx">Services</a>

               <%-- <ul>
            		  <li><a href="child-speciality-services.aspx">Specialty Services</a></li>
                      <li><a href="child-super-speciality-services.aspx#anchor">Super speciality services</a></li>
                      <li><a href="child-supportive-services.aspx">Supportive Services</a></li>

                     
			   </ul>--%>
		</li>
        
      
        
		<li style="background-color:#4BB2E5" ><a href="about-us-doctors.aspx">Doctors</a></li>
			

                  <li style="background-color:#FFCD34"><a href="#">Education</a>
     
           <ul>
              <li><a href="child-medical-overview.aspx">Medical</a>
                        <%--<ul>

                        <li><a style="background-color:#FFCD34" href="child-medical-overview.aspx">	Overview  </a></li>
                        <li><a style="background-color:#FFCD34" href="child-medical-directormsg.aspx"> Directors message </a></li>
                        <li><a style="background-color:#FFCD34" href="child-medical-courses.aspx"> 	Courses available</a></li>
                         <li><a style="background-color:#FFCD34" href="child-contact-us.aspx">	Contact Us  </a></li>
                                            
				       </ul>--%>
                </li>



		<li><a href="child-nursing-overview.aspx">Nursing</a>
                                        
                     
           <%-- <ul>

                        <li><a href="child-nursing-overview.aspx">	Overview  </a></li>
                        <li><a href="child-nursing-school.aspx"> 	Nursing school</a></li>
                        <li><a href="child-nursing-courses.aspx"> 	Courses available</a></li>
                         <li><a href="child-contact-us.aspx">	Contact Us  </a></li>


					  </ul>--%>
             
         </li>                     
</ul>
	
        <li style="background-color:#2D3691"><a href="child-gallery-category.aspx">Gallery</a></li>
                      
        <li style="background-color:#7AD8FB"><a href="child-events.aspx">Events</a></li>
        <li style="background-color:#38B87A"><a href="child-contact-us.aspx">Contact Us</a></li>

        
       
	
	
</div>





                        <div class="minimenu">
                            <div>MENU</div>
                            <select onchange="location=this.value">
                                <option></option>
                                <option value="index.aspx">Home</option>
                                <option value="child-about-overview.aspx">About Us</option>

                                   <option value="child-about-overview.aspx">---Overview</option>
                                   <option value="child-about-vision.aspx">---Mission, Vision, core Value</option>
                                   <option value="child-about-chairman-msg.aspx">---Chairman's Message</option>
                                   <option value="child-about-awards.aspx">---Awards and achievements</option>
                                   <option value="child-about-history.aspx">---History</option>

                           
                                <option value="child-speciality-services.aspx">Services</option>


                             

                                <option value="about-us-doctors.aspx">Doctors</option>


                                <option value="#">Eductaion</option>
                                <option value="child-medical-overview.aspx">------Medical</option>
                                <option value="child-nursing-overview.aspx">------Nursing</option>
                               

                                <option value="child-gallery-category.aspx">Gallery</option>

                                <option value="child-events.aspx">Events</option>
     
                                <option value="child-contact-us.aspx">Contact Us</option>


                            </select>
                        </div>
                    </div>
                </nav>
                
                
                
                </div>
                
                
            </div>

    </header>













        
<!---------- ====== END HEADER ====== ------------>


 

<section id="content">
	<div class="wrap-content zerogrid">

        

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        

        </asp:ContentPlaceHolder>








        <!-- =========== Footer ========== -->

<footer>


<div style="border-top:#808080 2px solid"></div><br>

            <div class="copyright">
              <div style="display: inline-block; text-align: left; padding-left: 0px; padding-right: 20px;"><a href="index-child.aspx">Home</a> |  <a href="child-testimonials.aspx">Testimonials</a> | <a href="child-press-media.aspx">Press & Media</a> | <a href="child-corporate-giving.aspx">Corporate Giving</a> | <a href="child-tenders.aspx">Tenders</a> | <a href="child-careers.aspx">Careers</a>  | <a href="child-contact-us.aspx">Contact Us</a>  
                         
              </div>
                
                <div  style="display:inline-block; float:right;"> 
                
                <div class="social">
                    <ul>
                        <li><a href="https://www.facebook.com/BJWHC
" target="_blank">
                            <img src="../images/Iconfacebook.png" /></a></li>
                        <li><a href="https://twitter.com/wadiahospitals
" target="_blank">
                            <img src="../images/Icontwitter.png" /></a></li>
                        <li><a href="https://www.youtube.com/channel/UCA0xW7LQkAezQGucagdC1OQ
" target="_blank">
                            <img src="./images/Iconyoutube.png" /></a></li>
                        <li><a href="https://www.linkedin.com/company/bjwhc
" target="_blank">
                            <img src="../images/Iconlinkedin.png" /></a></li>
                    </ul>
                </div>
                
<br />

                 </div>
                       </div>
        </footer>
        
<!-- =========== Footer End  ============ -->
        


</div>
</section>


    </form>
</body>
</html>
