﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="mainmaster.master.cs" Inherits="WadiaResponsiveWebsite.mainmaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">


    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wadia Hospital</title>


     <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    	<link rel="shortcut icon" href="images/favicon.gif">
  <link href="css/zerogrid.css" rel="stylesheet" />
    <link href="css/style-index.css" rel="stylesheet" />
    <link href="css/stylemenu.css" rel="stylesheet" />
    <link href="css/responsiveslides.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    
    
    <link rel="stylesheet" href="themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="themes/light/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="themes/dark/dark.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="themes/bar/bar.css" type="text/css" media="screen" />

    <link href="themes/nivo-slider.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="themes/style.css" rel="stylesheet" type="text/css" media="screen" />


   <%-- POPUP SCRIPT FOR CONTRIBUTE--%>



   <%--END POPUP SCRIPT FOR CONTRIBUTE--%>


    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>

    
<%--        HEADER--%> 
           
<header>

           

            <div class="wrap-headerhome zerogrid">
                <div id="logohome">
                    <a href="index.aspx">
                        <img src="images/Logo.png" /> 
        <div class="logotitle">Wadia Hospitals</div>
        </a>
        
        
 <!--<div style="display:inline-block; font-size:10px;">Where comprehensive healthcare meets compassion</div> -->
  
                </div>
<div class="txtlogodown">“Where comprehensive healthcare meets compassion” </div>


                

                <div class="phonehome">

                    <img src="images/CallUs.png" />&nbsp; +91 - 22 - 24146965

                </div>
				
               <%-- 
                <div class="donatehome">

                  Contribute
                    
                </div>--%>

<div class="searchboxhome">

<%--<script>
    (function () {
        var cx = '012323957223606191914:j_8d4qikmyg';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
<gcse:search></gcse:search>--%>



</div>




                
                
                
  </div>
            </div>
        </header>



       <%-- END HEADER--%>

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>


       
    </div>
    </form>
</body>
</html>
