﻿<%@ Page Language="C#" MasterPageFile="~/childmaster.Master" AutoEventWireup="true" CodeBehind="MarathonPayUResponse.aspx.cs" Inherits="WadiaResponsiveWebsite.MarathonPayUResponse" %>


<asp:content id="Content1" contentplaceholderid="head" runat="server">
</asp:content>
<asp:content id="Content2" contentplaceholderid="ContentPlaceHolder1" runat="server">


    <div class="row block05">

        <div class="col-full">
            <div class="wrap-col">

               

                <br />

                <!-- EVENT CONTENT -->

              
        <div style="text-align: center">
            <%--  Message :--%>
            <asp:Label ID="lblAddedSuccessfully" Visible="false" runat="server" Font-Size="20px" Font-Bold="true" ForeColor="#000066"></asp:Label>

            <br />
            <strong>Transaction Number :</strong>
            <asp:Label ID="lblTransactionNumber" Text="" runat="server" ForeColor="#000066"></asp:Label>
            <br />
            <strong>Added Successfully :</strong>
            <asp:Label ID="lblPaymentSuccessMessage" runat="server" ForeColor="#000066"></asp:Label>

            <br />
        </div>
  

                <!-- EVENT CONTENT -->

            </div>
        </div>


    </div>


</asp:content>
