﻿<%@ Page Title="" Language="C#" MasterPageFile="~/womenmaster.Master" AutoEventWireup="true" CodeBehind="NWMH-Contribute-Patient-welfare-fund.aspx.cs" Inherits="WadiaResponsiveWebsite.women_sponsor_patient" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


    <div class="row block05">

        <div class="col-2-3">
            <div class="wrap-col">

                <div class="heading">
                    <h2>Sponsor a Patient </h2>
                </div>

                <br />

                <!-- ABOUT US CONTENT -->

                <div style="line-height: 20px">
                    We believe very strongly that the quality of healthcare should not be equated to a person’s ability to pay. Every individual should have the right and access to top quality healthcare. For this reason, we strive to provide the best diagnostic and treatment facilities to all our patients. 
                    <br />
                    <br />
                    Many of our patients require extensive regular healthcare services such as dialysis for chronic kidney diseases, chemotherapy for cancer treatments etc. on a daily/weekly basis and we need your help to make sure no stone is left unturned in their treatment. 
                    <br />
                    <br />
                    You could contribute by taking financial responsibility for treatment, hospitalization, medication and food expenses of a patient as per their needs. You can track his or her progress via our social service departments and at the end of it; have the unparalleled joy of bringing someone back to health! 
    <br />
                    <br />
                    To sponsor a patient please fill in the form below and we will be in touch with you shortly:
                    
                    <br />
                    <br />

                    <asp:TextBox ID="txtname" CssClass="textboxcontact" required runat="server" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'"></asp:TextBox>
                    <div class="devider_10px"></div>

                    <asp:TextBox ID="txtemail" CssClass="textboxcontact" required runat="server" placeholder="Enter your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email address'"></asp:TextBox>
                    <div class="devider_10px"></div>
                    <asp:TextBox ID="txtcontactno" CssClass="textboxcontact" required runat="server" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'"></asp:TextBox>
                    <div class="devider_10px"></div>
                    <asp:TextBox ID="txtmessage" CssClass="textboxcontactdes" required runat="server" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'"></asp:TextBox>
                    <div class="devider_10px"></div>

                    <div style="text-align: left">
                        <asp:ImageButton ID="imgbtncontact" src="images/SubmitButton.png" ValidationGroup="sponsor" runat="server" OnClick="imgbtncontact_Click" /></div>

                    
                </div>
                <!-- ABOUT US CONTENT -->



            </div>
        </div>

        <div class="col-1-3">
            <div class="wrap-col">

                <div class="box">
                    <div class="heading">
                        <h2>CONTRIBUTE</h2>
                    </div>
                    <div class="content">
                        <div class="list">
                            <ul>


                               <li><a href="NWMH-Contribute-online.aspx">Donate Online</a></li>
                                <li><a href="NWMH-Contribute-Patient-welfare-fund.aspx">Sponsor a Patient</a></li>
                                <li><a href="NWMH-Contribute-equipment.aspx">Donate Equipment</a></li>
                                <li><a href="NWMH-Contribute-inkind.aspx">Donate in-kind</a></li>
                                <li><a href="NWMH-Corporate-giving.aspx">Corporate Giving</a></li>
                                <li><a href="NWMH-Testimonials.aspx">Testimonials </a></li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>







    </div>



</asp:Content>
