﻿<%@ Page Title="" Language="C#" MasterPageFile="~/womenmaster.Master" AutoEventWireup="true" CodeBehind="NWMH-Nutrition-Exercise-Clinic.aspx.cs" Inherits="WadiaResponsiveWebsite.women_nutritionandexe" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="row block05">
			
			<div class="col-full">
				<div class="wrap-col">
					
                    <div class="heading">
                  <h2>Nutrition and Exercise Clinic </h2></div>
                    
                    <br />

<!-- CONTENT -->

<div style="line-height:20px">


    <strong>Overview </strong>
    <br />    <br />



Eating a healthy diet during pregnancy is crucial to ensure a healthy and uncomplicated childbirth. Studies indicate that women who have healthy eating habits and gain the recommended amount of weight have healthier babies and fewer complications during pregnancy. Our Nutrition and Exercise Clinics ensure that women eat right and stay active and healthy during the term of pregnancy.



</div>

    <div style="height:90px"></div>



</div>
<!--  CONTENT -->


                
                    
                    
				</div>
			</div>
			







		</div>
</asp:Content>
