﻿<%@ Page Title="" Language="C#" MasterPageFile="~/womenmaster.Master" AutoEventWireup="true" CodeBehind="NWMH-Physiotherapy.aspx.cs" Inherits="WadiaResponsiveWebsite.women_physiotherapy" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="row block05">
			
			<div class="col-full">
				<div class="wrap-col">
					
                    <div class="heading">
                  <h2>Physiotherapy</h2></div>
                    
                    <br />

<!-- CONTENT -->

<div style="line-height:20px">

    <strong>Overview </strong>
    <br />    <br />




Physiotherapy is a medical discipline that aims at restoring mobility and functional ability in a particular part of the body after it has suffered trauma. In case of the NWMH, we focus on issues related to the reproductive system as well as the prenatal and neonatal phase of a woman’s pregnancy. 

    <div style="height:130px"></div>



</div>
<!--  CONTENT -->


                
                    
                    
				</div>
			</div>
			


        



		</div>


</asp:Content>
