﻿<%@ Page Title="" Language="C#" MasterPageFile="~/womenmaster.Master" AutoEventWireup="true" CodeBehind="NWMH-Family-Planning-Clinic.aspx.cs" Inherits="WadiaResponsiveWebsite.women_famplanclinic" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

     <div class="row block05">
			
			<div class="col-full">
				<div class="wrap-col">
					
                    <div class="heading">
                  <h2>Family Planning Clinic</h2></div>
                    
                    <br />

<!-- CONTENT -->

<div style="line-height:20px">

<strong>Overview </strong>
    <br />    <br />

At the Family Planning Clinic, our doctors provide information and advice on various family planning methods available. Patients are encouraged to adopt the method most suited to them. Intrauterine devices and oral contraceptive pills are available free of cost to patients through the Family Planning Program. Laparoscopic sterilization and other forms of tubal ligation are also available.
    
    <div style="height:130px"></div>



</div>
<!--  CONTENT -->


                
                    
                    
				</div>
			</div>
			


        



		</div>







</asp:Content>
