﻿<%@ Page Title="" Language="C#" MasterPageFile="~/childmaster.Master" AutoEventWireup="true" CodeBehind="OneDayAlPayUResponce.aspx.cs" Inherits="WadiaResponsiveWebsite.OneDayAlPayUResponce" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">  

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    
    

    <div class="row block05">
        <div class="col-full">
            <div class="wrap-col">
                <br />
                <div style="text-align: center">
                    <%--  Message :--%>
                    <asp:Label ID="lblAddedSuccessfully" Visible="false" runat="server" Font-Size="20px" Font-Bold="true" ForeColor="#000066"></asp:Label>
                    <br />
                    <strong>Transaction Number :</strong>
                    <asp:Label ID="lblTransactionNumber" Text="" runat="server" ForeColor="#000066"></asp:Label>
                    <%--<strong>Added Successfully :</strong>--%><br />
                    <asp:Label ID="lblPaymentSuccessMessage" runat="server" ForeColor="#000066"></asp:Label>
                    <br />
                   <%-- <asp:Button ID="btnViewInvoice" runat="server" Text="View Invoice And Print" OnClientClick="return openinvoice();" />

                    <br />
                    <div class="fb-share-button" data-href="https://www.facebook.com/littleheartsmarathon?ref=stream" data-layout="box_count"></div>--%>
                
                </div>
                <asp:HiddenField ID="hdnPayID" runat="server" />

                <%--<input id="btnprint" onclick='window.print(); return false;' type="button" value="Print" style="display: none;" />--%>
                <div runat="server" id="dataDiv" style="display: none;">
                </div>

                <!-- EVENT CONTENT -->

            </div>
        </div>


    </div>


</asp:Content>
