﻿/*
Free Html5 Responsive Templates
Author: Kimmy
Author URI: http://www.zerotheme.com/
*/
/* -------------------------------------------- */
/* ------------------Reset--------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* -------------------------------------------- */
/* ------------------Font---------------------- */

/*Add your font at here*/

/* -------------------------------------------- */
/* ------------------Style--------------------- */
row block05
@font-face {
	font-family: SALSA-REGULAR;
	src:url(../font/SALSA-REGULAR.TTF);
}


html, body {width:100%; padding:0; margin:0;font-family:SALSA-REGULAR; background-color:#d7d7d7;/*background-image:url(../images/bgbuff.png); background-repeat:repeat;*/}
body {font-family: SALSA-REGULAR; font-size:10px; background-color:#d7d7d7; /*background-image:url(../images/bgbuff.png); background-repeat:repeat;*/}

a{color: #009FE3; text-decoration: none;}
a:hover {color: #009FE3; text-decoration: none;}

a.button{cursor: pointer;color: #ffffff;line-height: 14px;font-family: Arial, Helvetica, sans-serif;font-size: 14px;font-weight: bold;	background: #3F3F3F;}
a.button {display: inline-block;text-decoration: none;padding: 6px 12px 6px 12px;}
a.button:hover{}

h2, .title{font-family: Rockwell,'Kameron',serif;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* -------------------------------------------- */
/* ------------------Header-------------------- */

header {border-top: 0px solid #252525; border-bottom: 0px solid #009FE3; width:100%; background-color:#d7d7d7; /*background-image:url(../images/bgbuff.png); background-repeat:repeat;*/ }
header .wrap-header{height: 150px; width:100%; }

header .wrap-headerhome{height: 80px; width:95%; }  

header #logo {
	position: absolute;
	top: 0px;

	padding: 10px 5px 5px 163px;
	width: 70%;
	height: 150px;
	font-size: 25px;
	color: #739FBE;
	vertical-align: middle;
}

header #logohome {
	position: absolute;
	top: 0px;

	padding: 10px 5px 5px 140px;
	width: 70%;
	height: 150px;
	font-size: 36px;
	color: #739FBE;
	vertical-align: middle;
}

.logotitle{ display:inline-block; padding-top:22px; padding-left:05px; font-family:Arial; font-weight:bold; color:#1B1464;}
.txtlogodown{ display:inline-block; padding-top:60px; padding-left:235px; color:#111;}




nav {}
nav .wrap-nav{
	position:absolute; bottom:0px; left:0px;
    background-color:#f04e9e;
 	right:80px;
  	height: 51px;  
	width:75%; 
	z-index:10;
	background-image:url(../images/HeaderBGCenter5XX.png); background-repeat:repeat-x;
    left:163px;
    border-radius:10px;
   
    
    
}
/*background-color:#F09340;*/

/*.menu ul {list-style: none; margin: 0; padding-left:60px;}
.menu  ul li {position: relative;float: left;padding: 6px 5px 0px 5px;}
.menu  ul li:hover {color:#009FE3;}
.menu  ul li a {font-size: 14px; font-family:Open Sans,sans-serif; line-height:14px; color: #fff; display: block;padding: 6px 10px;margin-bottom: 5px;z-index: 6;position: relative; text-transform:capitalize; font-weight:100;}
.menu  ul li:hover a {color:#1E1E1E;}
.menu li.current{background:none;}
.menu li.current a {color:#ffffff;}
*/

#menu {
	position: relative;
	margin-left: 30px;
}

/*#menu a {
	display: block;
	width: 800px;
}*/

#menu  ul li {position: relative;float: left;padding: 6px 5px 0px 5px;}
#menu  ul li:hover {color:#009FE3;}
#menu  ul li a {font-size: 14px; font-family:Open Sans,sans-serif; line-height:1px; color: #fff; display: block;padding: 6px 10px;margin-bottom: 5px;z-index: 6;position: relative; text-transform:capitalize; font-weight:100;}



#menu ul {
	list-style-type: none;
	padding-top: 5px;
	padding-left:32px;
}

#menu li {
	float: left;
	position: relative;
	padding: 3px 0;
	text-align: center;
	
}

#menu  ul li:hover a {color:#1E1E1E;}


#menu ul.sub-menu {
	display: none;
	position: absolute;
	top: 20px;
	left: -10px;
	padding: 10px;
	z-index: 90;
	background-color:#2f9fde;
    /*margin-top:10px;*/
}

#menu ul.sub-menu li {
	text-align: left;
	display: block;
	
}

#menu  ul.sub-menu li a {font-size: 14px; font-family:Open Sans,sans-serif; line-height:12px; color: #fff; display: block;padding: 6px 10px;margin-bottom: 0px;z-index: 6;position: relative; text-transform:capitalize; font-weight:100;}

#menu  ul.sub-menu li:hover a {color:#1E1E1E;}

#menu li:hover ul.sub-menu {
	display: block;
	border: none;
	width:310px;

	
}

#menu ul ul ul {
	position: absolute; left: 100%; top:0;
}

#menu ul ul li a {
			{font-size: 14px; font-family:Open Sans,sans-serif; line-height:12px; color: #fff; display: block;padding: 6px 10px;margin-bottom: 0px;z-index: 6;position: relative; text-transform:capitalize; font-weight:100;}
}	
#menu ul ul li a:hover {
            color:#1E1E1E;
}

/*about us*/ 

#menu ul.sub-menuabt {
	display: none;
	position: absolute;
	top: 20px;
	left: -10px;
	padding: 10px;
	z-index: 90;
    background-color:#2f9fde;
	/*background-color:#218dcb;*/
}

#menu ul.sub-menuabt li {
	text-align: left;
	display: block;
	
}

#menu  ul.sub-menuabt li a {font-size: 14px; font-family:Open Sans,sans-serif; line-height:12px; color: #fff; display: block;padding: 6px 10px;margin-bottom: 0px;z-index: 6;position: relative; text-transform:capitalize; font-weight:100;}

#menu  ul.sub-menuabt li:hover a {color:#1E1E1E;}

#menu li:hover ul.sub-menuabt {
	display: block;
	border: none;
	width:150px;

	
}



.minimenu{display:none;}
.minimenu{position: relative;margin: 0px;background:#333333;}
.minimenu div{overflow: hidden;position: relative;font: 18px/37px 'PT Sans Narrow';color: #fff;text-align:center;text-transform:uppercase;font-weight:bold;}
.minimenu select{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%; opacity: 0;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);	cursor: pointer;}

.social{right: 0px; top: 2px; width: 100%; height:41px; color:#739FBE; }
.social ul{list-style: none;margin: 0; padding-left:13px; vertical-align:top; height:41px;}
.social ul li{position: relative;float: left; padding-right:2px; padding-bottom:3px;}
.social ul li a{text-decoration:none; padding:0px; vertical-align:middle;}


.searchbox{right: 290px; top: 20px; width: 20%; height:41px; color:#739FBE; position:absolute; }

.phone{position: absolute; right: 81px; top: 8px; color:#739FBE; font-size:18px;}

.donate{position: absolute; right: 125px; top: 33px; color:#FFF; background-image:url(../images/Contribute4.png); background-repeat:no-repeat; width:158px; height:35px; text-align:center; padding-top:5px; font-size:19px;}


 .phonehome{position: absolute; right: 134px; top: 10px; color:#739FBE; font-size:18px;}
 .donatehome{position: absolute; right: 134px; top:50px; color:#FFF; background-image:url(../images/DonateBG.png); background-repeat:no-repeat; width:158px; height:35px; text-align:center; padding-top:5px; font-size:19px;}
	
 .searchboxhome{right: 338px; top: 38px;  width: 20%; height:25px; position:absolute; }

/* -------------------------------------------- */
/* ------------------Featured---------------- */

.featured{margin:30px auto;}
.featured .wrap-featured{background:#333;}
.featured .wrap-featured .slider{padding: 0px;}

/* -------------------------------------------- */
/* ------------------Content------------------- */
.boxhome{
	 border: 0px solid #848484;
	 padding:10px; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
	color:#FFF;
    font-size:14px;
	}
	
	.titlewadia
{font-size:22px; color:#FFF; padding-top:10px;}

.titlewadia25
{font-size:19px;
color:#739FBE;
padding-bottom:8px;}

.titlewadia25gray
{font-size:20px;
color:#666666;
padding-bottom:5px;}

.titlewadiacontent
{font-size:15px;
font-family:Tahoma, Geneva, sans-serif;
font-weight:bold;
color:#0071BC;
}

.titlewadiacontentgray
{font-size: 14px;
font-family: Arial,Helvetica,sans-serif;
color: #666;
text-align: justify;
}


.readmore{
	font-family:Arial;
	font-weight:normal;
	color:#666;
    font-size:15px;
    padding-left:0px;
    display:inline-block;
    width:100%;
}

.readmore:hover{
	font-family:Arial;
	font-weight:normal;
	color:#009FE3;
    font-size:15px;
    padding-left:0px;
}

.readmorecase{
	font-family:Arial;
	font-weight:normal;
	color:#666;
    font-size:15px;
    padding-left:0px;
    display:inline-block;
    text-align:right;
    width:40%;
}

.readmorecase:hover{
	font-family:Arial;
	font-weight:normal;
	color:#009FE3;
    font-size:15px;
    padding-left:0px;
}


.readmoreabout{
	font-family:Arial;
	font-weight:normal;
	color:#666;
    font-size:12px;
    padding-left:30px;
    display:inline-block;
}

.readmoreabout:hover{
	font-family:Arial;
	font-weight:normal;
	color:#009FE3;
    font-size:12px;
    padding-left:30px;
}

.colorcontent{
	color:#666;
    font-size:12px;
    line-height: 20px;
	}
	

.devider_5px
{
	height:5px;
}

	
.devider_10px
{
	height:10px;
}


devider_doc
{
	height:18px;
}

.devider_20px
{
	height:20px;
}
.devider_30px
{
	height:30px;
}
.devider_40px
{
	height:40px;
}

.home_padding50{
	padding:0px 20px 0px 20px;
}


.docmain{
	padding:12px;
}
.doc1
{
	display:inline-block;
	width:45%;
	
	background: white; 
    border: 1px double #DDD; 
    border-radius: 4px; 
    box-shadow: 0 0 1px #333; 
    color: #666; 
    outline: none;
	height:170px;
	padding:10px;
	
	/*-webkit-box-shadow: -2px 1px 2px 0px rgba(5,4,5,1);
-moz-box-shadow: -2px 1px 2px 0px rgba(5,4,5,1);
box-shadow: -2px 1px 4px 0px rgba(5,4,5,1);*/
 
}

.doc2
{
	display:inline-block;
	width:46%;
	
	background: white; 
    border: 1px double #DDD; 
    border-radius: 4px; 
    box-shadow: 0 0 1px #333; 
    color: #666; 
    outline: none;
	height:170px;
	padding:10px;
}

.viewprofilebtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background-color:#63b8ee;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #3866a3;
	display:inline-block;
	font-family:SALSA-REGULAR;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:26px;
	line-height:26px;
	width:100px;
	text-decoration:none;
	text-align:center;
    color:#FFF;
}.classname:hover {
	background-color:#468ccf;
}.classname:active {
	position:relative;
	top:1px;
    color:#FFF;
}





.hor1
{
	display:inline-block;
	width:32%;
}

.hor2{
	display:inline-block;
	width:66%;
    font-size:12px;
    text-align:left;
	}
.hor11
{
	display:inline-block;
	width:57%;
    padding:0px;
}

.hor22{
	display:inline-block;
	width:34%;
	vertical-align:bottom;
	text-align:right;
	}
.experience {
    padding: 10px 10px 10px 0px;
    font-size: 12px;
    text-align:left;
}

.areaofinterest {
    padding: 0px 10px 10px 15px;
    color:#009FE3; 
    text-align:justify;

}
.historydetails {
    padding: 0px 10px 10px 15px;
    text-align:justify;

}


.btndoc {
  background: #85bce6;
  background-image: -webkit-linear-gradient(top, #85bce6, #2980b9);
  background-image: -moz-linear-gradient(top, #85bce6, #2980b9);
  background-image: -ms-linear-gradient(top, #85bce6, #2980b9);
  background-image: -o-linear-gradient(top, #85bce6, #2980b9);
  background-image: linear-gradient(to bottom, #85bce6, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 1px;
  color: #ffffff;
  font-size: 12px;
  padding: 2px 7px 2px 7px;
  text-decoration: none;
  width:76%;
}

.btndoc:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.viewProfile {
    width: 81px;
    height: 26px;
    background: url(../images/probutton.png) repeat scroll 0px 0px transparent;
    display: block;
}





#content {}
#content .wrap-content{background-color:#FFF; border:0px solid #CCC; border-top: 0px solid #FFF; margin-top: 0px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; text-align:justify; color:#666;}

.divider{background: url("../images/divider.png") repeat-x; height: 7px; width: 90%; margin: auto;}

.block01 {margin:10px;}
.block01 h2 { padding-top:30px; font-size: 30px; text-align: center; font-weight: normal;}
.block01 p { padding: 10px 30px 30px 30px; font-size:20px; text-align:center; line-height:30px;}

.block02 {margin:0px 0; padding: 0 10px;}
.block02 h2{font-size:20px; font-weight: normal;}
/*.block02 a{color: #474747;}
.block02 a:hover{color: #009FE3;} */
.block02 span {font-size: 50px; float: left; margin: 0px 5px 0 0; line-height: 1;



}

.block03 {margin: 30px 0; padding: 0 10px;}
.block03 .title{width: 90%; background: url("../images/divider.png") repeat-x 50% 50%; margin: auto; text-align: center;}
.block03 .title span{ background: #ffffff; padding: 10px; font-size: 20px; text-transform: uppercase;}
.block03 img{border:2px solid #CCCCCC;}
.block03 h2{font-size:15px; line-height:30px;}

.block04 {margin: 30px 0; padding: 0 10px;}
.block04 .title{width: 90%; background: url("../images/divider.png") repeat-x 50% 50%; margin: auto; text-align: center;}
.block04 .title span{ background: #ffffff; padding: 10px; font-size: 20px; text-transform: uppercase;}

.block05 {margin: 20px 0;}
.block05 .title{width: 100%; background: url("../images/divider.png") repeat-x 50% 50%; margin: auto; text-align: left; padding-top:8px;}
.block05 .title span{ background: #ffffff; padding: 10px; font-size: 18px; text-transform: uppercase;}
.block05 article{ clear: both; margin-bottom:30px; padding: 0 10px;}
.block05 article h2{font-size:25px; line-height:30px; font-weight:normal;}
.block05 article .info{font-style:italic; padding: 10px 0px;}
.block05 article img{ margin-bottom:10px; width: 100%; border: 5px solid #333;}
.block05 .box{margin-bottom:20px; padding: 0 10px;}
.block05 .leftbigpad{padding-left:15px;}
.block05 .leftpaddocdetail{padding-left:20px;}
.block05 .leftpad{padding-left:10px;}
.block05 .leftpadsubmenu{padding-left:10px; padding-top:7px; line-height28px;}
.block05 .heading{padding:6px 0px; border-bottom:2px solid #615E5F}
.block05 .heading h2{font-size:17px; text-transform:uppercase; font-family:Arial; font-weight:normal; display:inline; border-bottom: 2px solid #739FBE; padding-bottom: 4px; color:#739FBE;}
.block05 .content{ margin: 5px 0px ;} 
.block05 .content .list{padding: 10px; margin-left: 10px;}
.block05 .content ul{ font-size:14px; list-style-type:circle;}
.block05 .content ul li{padding:5px; border-bottom: 1px solid #E2E2E2;}
.block05 .content ul li a{padding:5px; border-bottom: 0px solid #E2E2E2;}
.block05 .content ul li a:hover {
        padding: 5px;
        color:#C33727;
    }
.block05 .textboxnews{
        background-color: #E3F4FD;
        height: 30px;
        width: 200px;
        border-bottom-left-radius:7px;
        border-top-left-radius:7px;
         font-family:SALSA-REGULAR;
         font-size:15px;
         padding-left:10px;
         color:#737373;  

       
    }

.block05 .textboxcontact {
	background-image:url(../images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 100%;
    height:28px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
    font-family:SALSA-REGULAR;
    border-radius: 3px;

}
    .block05 .textboxcontact:focus {

        border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
  outline: none;

    }

.block05 .textboxcontactdes {
	background-image:url(../images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	width: 100%;
    height:80px;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:SALSA-REGULAR;
    border-radius: 3px;
}

.block05 .textboxcontactdes:focus {

        border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 0 5px rgba(81,167,232,0.5);
  outline: none;

    }
    .block05 .newsheading {

        font-size:16px;
        color:#009fe3;
    }

.block05 .newsdate {

        font-size:13px;
    }

.block05 .services {

        font-size:13px;
        padding-left:20px; 
        border-radius:10px;
        color:#FFF;

         background-color: #81BEC3;
  background-image: url(images/linear_bg_1.png);
  background-repeat: repeat-y;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#81BEC3), to(#fff));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #81BEC3, #fff);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #81BEC3, #fff);

  /* IE 10 */
  background: -ms-linear-gradient(left, #81BEC3, #fff);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #81BEC3, #fff);
    }

.icon-map-marker:before {
    content: "";
}
.icon-phone:before {
    content: "";
}
.leftpad15{
	padding:7px 7px 7px 0px;
    border:1px solid #666;
    text-align:center;
}
/* -------------------------------------------- */
/* ------------------Footer-------------------- */
footer {margin:20px; padding-bottom:5px; padding-top:5px; font-family:Arial; font-size:15px; color:#739FBE;}
footer .wrap-footer{padding:10px 0px;}

footer .box{}
footer .heading{ padding:5px 0; border-bottom:1px solid #615E5F; border-top:1px solid #615E5F; text-align: center;}
footer .heading h2{font-size:18px; font-weight:normal; display:inline;border-bottom: 1px solid #009FE3; border-top: 1px solid #009FE3; padding: 7px 0 8px 0;}
footer .content{padding:5px}
footer .content ul{ font-size:14px;}
.footer ul li{padding:5px 0; display: inline; }
.footer ul li a{padding: 10px; margin: 0px 5px 5px 0px; float: left; }
footer .content .tag a:hover{color: #ffffff; background: #4cc7fc;}

.copyright{text-align:left; margin-top:0px; margin-bottom:0px; padding: 0px 0px;}
.copyright a{color:#739FBE; text-decoration:none; padding:18px 10px 20px 10px; vertical-align:middle;}
.copyright a:hover{color:#218dcb; text-decoration:underline;}


/*------------gallery*/
.gallery {}
.gallery a {display: block;	margin: 0px 10px 10px 0px;position: relative;
	-webkit-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);}

/*Left and Right margins to images in the middle column*/
/*This selects the 2nd, 5th and 8th elements*/
/*.gallery a:nth-child(3n+2) {margin: 0 25px 25px 25px;}*/

.gallery a img {display: block;	-webkit-transition: all 0.5s;}

/*Hover effects*/
.gallery a img:hover {-webkit-filter: none; /*Returns to default state*/}

/*Default state for brightness has to be specified specifically*/
.gallery a img.brightness:hover {-webkit-filter: brightness(0);}

/*Filter styles*/
.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.opacity {-webkit-filter: opacity(50%);}


/*Pagination*/
#pagi{margin: 50px auto; padding: 20px 0px;list-style: none;width: 250px;}
#pagi li {float: left;margin-right: 10px;}
#pagi li a {display: block;	text-decoration: none; color: #717171;font: bold 16px SALSA-REGULAR, sans-serif;padding: 5px; background: #ffffff;}
#pagi li a.current, #pagi li a:hover {color: #ffffff;	background: #009EE2;}

/*Comment*/
.comment{font-weight:bold; margin:10px 0px; width: auto;}
.comment div{margin-bottom: 20px; vertical-align:middle; }
.comment input{border: 2px solid #999999;padding: 8px 10px;width:250px;}
.comment textarea{border: 2px solid #999999;padding: 8px 10px;width:95%;}
.comment input[type="submit"] {cursor: pointer; width:100px; float:right;
	background: -webkit-linear-gradient(top, #efefef, #ddd);background: -moz-linear-gradient(top, #efefef, #ddd);
	background: -ms-linear-gradient(top, #efefef, #ddd);background: -o-linear-gradient(top, #efefef, #ddd);
	background: linear-gradient(top, #efefef, #ddd);
	color: #333;text-shadow: 0px 1px 1px rgba(255,255,255,1);	border: 2px solid #999999;}
.comment input[type="submit"]:hover {
	background: -webkit-linear-gradient(top, #eee, #ccc);	background: -moz-linear-gradient(top, #eee, #ccc);
	background: -ms-linear-gradient(top, #eee, #ccc);	background: -o-linear-gradient(top, #eee, #ccc);
	background: linear-gradient(top, #eee, #ccc);	border: 2px solid #bbb;}
.comment input[type="submit"]:active {
	background: -webkit-linear-gradient(top, #ddd, #aaa);	background: -moz-linear-gradient(top, #ddd, #aaa);
	background: -ms-linear-gradient(top, #ddd, #aaa);	background: -o-linear-gradient(top, #ddd, #aaa);
	background: linear-gradient(top, #ddd, #aaa);	border: 2px solid #999;}



.1px_underline{
	border-bottom:3px solid #F00;
}
.profileheader{
	color:#309;
	font-size:18px;
	font-weight:normal;
	height:30px;
}
.popup_table{
	-webkit-box-shadow: 0px -1px 15px 0px rgba(48, 50, 50, 0.32);
-moz-box-shadow:    0px -1px 15px 0px rgba(48, 50, 50, 0.32);
box-shadow:         0px -1px 15px 0px rgba(48, 50, 50, 0.32);

background-color:#FFF;
color:#666;
width:100%;
border:none;
}


/* ABOUT US DOCTOR HEADER */

.mypets{ /*header of 1st demo*/
cursor: hand;
cursor: pointer;
padding: 2px 5px;
border: 1px solid gray;
background: #E1E1E1;
font-weight:normal;
letter-spacing:1px;
}

.openpet{ /*class added to contents of 1st demo when they are open*/
background: #666;
color:#FFF;
}

.technology{ /*header of 2nd demo*/
cursor: hand;
cursor: pointer;
font: bold 14px Verdana;
margin: 10px 0;
}


.openlanguage{ /*class added to contents of 2nd demo when they are open*/
color: green;
}

.closedlanguage{ /*class added to contents of 2nd demo when they are closed*/
color: red;
}


		/* test case for the hover over popup */
.testpup{
  width: 700px;
  border: 0px solid black;
  margin-bottom: 20px;
  padding: 5px;
}

#rather_wide {
  margin-top: 100px;
}
#rather_tall {
  height: 200px;
}

/*  hover over popup style */
.pup, .pup_class2, .pup_class3 {
  position:absolute;
  z-index:200; /* aaaalways on top*/
  padding: 0px;
  margin-left: 10px;
  margin-top: 5px;
  width: 250px;
  border: 0px solid black;
  color: white;
  background-color: #777;
  font-size: 0.95em;
}

.pup_class2 {
  background-color: red !important;
}
.pup_class3 {
  background-color: blue;
}

p#tests {
  margin-top: 300px;
  margin-bottom: 1000px;
}


/*PAGINATION*/

#container {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    text-align:right;
}

.btn {
    display: inline-block;
    padding: 10px;
    border-radius: 5px; /*optional*/
    color: #aaa;
    font-size: .875em;
}

.pagination {
    background: #FFF;
    padding: 0px 20PX 0PX 20PX;
    margin-bottom: 0px;
}

.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #0973BA;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
    padding-top:1px;
    padding-bottom:1px;
    width:9px;
    text-align:center;
}

.page.gradient {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
        background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
    }

.pagination.dark {
    background: #414449;
    color: #feffff;
}

.page.dark {
    border: solid 1px #32373b;
    background: #3e4347;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.page.dark.active {
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}

.page.dark.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
}


.readmorebtngrn {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background-color:#b8e356;
	-webkit-border-top-left-radius:12px;
	-moz-border-radius-topleft:12px;
	border-top-left-radius:12px;
	-webkit-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	border-top-right-radius:12px;
	-webkit-border-bottom-right-radius:12px;
	-moz-border-radius-bottomright:12px;
	border-bottom-right-radius:12px;
	-webkit-border-bottom-left-radius:12px;
	-moz-border-radius-bottomleft:12px;
	border-bottom-left-radius:12px;
	text-indent:0px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	
	font-style:normal;
	height:32px;
	line-height:32px;
	width:108px;
	text-decoration:none;
	text-align:center;
}.readmorebtngrn:hover {
	background-color:#a5cc52;
}.readmorebtngrn:active {
	position:relative;
	top:1px;



/*END PAGINATION*/