﻿<%@ Page Language="C#" MasterPageFile="~/womenmaster.Master" AutoEventWireup="true" CodeBehind="tpainsurancewomen.aspx.cs" Inherits="WadiaResponsiveWebsite.TpaInsuranceWomen" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

<style type="text/css">


  

#container img {
   
        width:24%;
        margin-bottom:25px;
         height:200px;
        height:auto;    
            }

        /* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1130px) {
    #container img {
        width: 49%;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
 #container img {
        width: 49%;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
     #container img {
        width: 49%;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .img-col {
        width: 100%;
    }
}
    

    </style>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


    <div class="row block05">

        <div class="col-full">
            <div class="wrap-col">

                <div class="heading">
                    <h2>TPA / Insurance</h2>
                </div>

                <br />

                <!-- EVENT CONTENT -->

                    <div id="container" style="overflow:hidden;text-align:left;padding:0 10px;">
                        
                            <img src="images/HdfcErgo.png" style="box-sizing:border-box;padding:25px;padding-top:15px;"/>
                        
                            <img src="images/future.png" />
                        
                            <img src="images/icici.png" />
                        
                            <img src="images/Max.png" style="box-sizing:border-box;padding:10px"/>
                        
                            <img src="images/STAR.png" />
                       
                            <img src="images/Chola.png" />
                        
                        
                            <img src="images/cigna.png" />
							<img src="images/Bajaj.png" />
							
							<img src="images/mediassist.jpg" />
						<img src="images/healthindia.png" style="margin-bottom:0px;padding-top:30px" />
							<img src="images/Ericson.jpg" style="margin-bottom:0px;padding-top:40px"/>
							<img src="images/paramount.jpg" style="margin-bottom:0px;"/>
							
							
						<div style="text-align:center;overflow:hidden;margin-bottom:15px;">	
						
						<img src="images/family-health.jpg" style="margin-bottom:0px;"/>
						<img src="images/mumbai-port.jpg" style="box-sizing:border-box;padding:40px;padding-top:15px;"/>
						<img src="images/vipul.png" style="margin-bottom:0px;"/>
						
                            </div>
                    </div>
                <div>
<pre style="font-family:Verdana;font-size:small;line-height:20px;">
<b>Contact Details - TPA Help Desk (NWMH)</b>
Ms. Mamta Surve -      9503801126
Mr. Jitendra Solanki - 8779817991, 9920929987
Email ID - <a>sadhana.patne@wadiahospitals.org</a>

</pre>
                    </div>
                
                <!-- EVENT CONTENT -->

            </div>
        </div>


    </div>


</asp:Content>
