﻿<%@ Page Title="" Language="C#" MasterPageFile="~/womenmaster.Master" AutoEventWireup="true" CodeBehind="women-immunology.aspx.cs" Inherits="WadiaResponsiveWebsite.women_immunology" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<div class="row block05">
			
			<div class="col-full">
				<div class="wrap-col">
					
                    <div class="heading">
                  <h2>Immunology </h2></div>
                    
                    <br />

<!-- CONTENT -->

<div style="line-height:20px">

    <strong>Overview </strong>
    <br />    <br />


Vast medical and technological advances over the past decade have made it possible to understand the complex immunological mechanisms that allow the foetus to grow and survive during pregnancy. Trained immunologists at the hospital help investigate the patient’s immune system and identify any problems that may arise during childbirth. 



</div>

    <div style="height:90px"></div>



</div>
<!--  CONTENT -->


                
                    
                    
				</div>
			</div>
			




		</div>


</asp:Content>
