﻿<%@ Page Title="" Language="C#" MasterPageFile="~/womenmaster.Master" AutoEventWireup="true" CodeBehind="women-anaesthesiology.aspx.cs" Inherits="WadiaResponsiveWebsite.women_anaesthesiology" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

     <div class="row block05">
			
			<div class="col-full">
				<div class="wrap-col">
					
                    <div class="heading">
                  <h2>Anaesthesiology</h2></div>
                    
                    <br />

<!-- CONTENT -->

<div style="line-height:20px">


    <strong>Overview </strong>
    <br />    <br />



The Department of Anaesthesia at NWMH is comprised of qualified & experienced anaesthetists. All the operative Laparoscopic Surgeries, Supramajor Gynaecological Surgeries as well as high risk Obstetric emergency surgeries are managed by the anaesthetists.

    <div style="height:130px"></div>



</div>
<!--  CONTENT -->


                
                    
                    
				</div>
			</div>
			


        



		</div>




</asp:Content>
