﻿<%@ Page Title="" Language="C#" MasterPageFile="~/womenmaster.Master" AutoEventWireup="true" CodeBehind="women-about-doctdetails-drpravin.aspx.cs" Inherits="WadiaResponsiveWebsite.women_about_doctdetails_drpravin" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="row block05">
			
		<div class="col-full">
				<div class="wrap-col">
					
                    <div class="heading">
                  <h2>PROFILE</h2></div>
                    
                  

<!-- ABOUT US CONTENT -->

<div class="doctorbox">

<img src="images/doc/Dr Pravin Mhatre.jpg" />
<div class="docdetails">
Dr. Pravin Mhatre



<div class="docdetailsdesg">
Hon. Professor   <br />
MD, FCPS, DGO, DFP


</div>

</div>
</div>

     <%--<div class="areaofinterest">


</div>--%>

<div class="scrollcontent">
<div style="width: 100%; margin: 0 auto; padding: 10px 0 40px;">

    
        <ul class="tabs" data-persist="true">
       <%--    <li><a href="#view1">Areas of Interest</a></li>--%>
            <li><a href="#view2">Achievements</a></li>
        <%--    <li><a href="#view3">Affiliations</a></li>
            <li><a href="#view4">Research and publications</a></li>--%>
           
                    </ul>

<div class="scrollbar" id="ex3">
        <div class="tabcontents">
         <!---- 1st view end -->
         <%--  <div id="view1">
                
                <p>
  Paediatric Infectious Diseases, Paediatric Hepatology
                                 <br />
              
                </p>
                
            </div>--%>
            
            
             <!---- 1st view end ---->
             
              <!---- 2nd view start ---->
             
            <div id="view2">
         
                <p>
   •	Invited to deliver a lecture at 
                    <br />
                    <div style="padding-left:25px">
o	Oxford University U.K
<br />o	University of Georgia  Atlanta 
<br />o	University  of Colombo</div>

•	Developed new vaginoplasty technique - (peritoneal pull through)
<br />•	Registration and Recognition as first Gyn. Transplant Surgeon by government.
<br />•	Worlds First successful Ovarian Transplant - March 2002
<br />•	Interviewed on BBC London / Asia live
<br />•	BBC World on 24th December 2002 declared the Ovarian Transplant conducted by Dr. Mhatre as the most significant medical achievement of the year 2002.
<br />•	Recipient of Mayors Gold medal and Civic felicitation - 2005
<br />•	Awarded Maharashtra Ratna – 2004
<br />•	Achieved First rank, Distinctions and Gold Medals in medical examinations                         


<br /><br />

                </p>
                  
            </div>
            
             <!---- 2nd view end ---->
             
              <!---- 3rd view start ---->
              
              
            
       <!-- 3rd view end ---->
       
       <!-- 4th view start --->
       
       
            
            <!---- 4th view end ---->     
            
            
         
               
            
        </div>
    </div>


</div>

</div>


<!-- ABOUT US CONTENT RIGHT -->

           
                    
                    
				</div>
			</div>
			




				</div>





</asp:Content>
