﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ZZZDate.aspx.cs" Inherits="WadiaResponsiveWebsite.ZZZDate" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Label ID="lblDate" runat="server" ></asp:Label>

        <asp:Label ID="lblLeng" runat="server" ></asp:Label>
    </div>
    </form>
</body>
</html>
